@keyframes pulse {
    from {
        opacity: 0.3;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}

@keyframes online-pulse {
    0% {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1
    }

    70% {
        transform: translate(-50%,-50%) scale(1.6);
        opacity: 0
    }

    70.1%,to {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1
    }
}

@keyframes fly-smooth {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

 
@keyframes spin-rotate {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(80px) rotate(360deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-forward {
    0% {
        transform: translateX(0) rotate(0);
    }

    50% {
        transform: translateX(320px) rotate(360deg);
    } 

    100% {
        transform: translateX(0) rotate(0);
    }
}


@keyframes rotate-forward-small {
    0% {
        transform: translateX(0) rotate(0);
    }

    50% {
        transform: translateX(100px) rotate(360deg);
    } 

    100% {
        transform: translateX(0) rotate(0);
    }
}


 