@font-face {
  font-family: "Roboto bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto normal", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Roboto-medium.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto italic", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Montserrat-Medium.ttf") format("ttf");
}
:root {
  --font-size-50-24: clamp(1.5rem, -0.0234rem + 4.0625vw, 3.125rem);
  --font-size-30-18: clamp(1.125rem, 0.4219rem + 1.875vw, 1.875rem);
  --font-size-20-14: clamp(0.875rem, 0.5234rem + 0.9375vw, 1.25rem);
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.813rem;
  --font-size-11: 0.688rem;
  --font-size-10: 0.625rem;
  --line-height-30: 30px;
  --line-height-24: 24px;
  --line-height-21: 21px;
  --blue-500: #42a5f5;
  --blue-900: #008DFF;
  --blue-100: #7F9FF;
  --green-500: #4cd7ab;
  --violet-900: #430F96;
  --violet-500: #6C25DE;
  --red-100: #ffdddc;
  --red-500: #e53935;
  --white: #fff;
  --dark-50: #F0F0F0;
  --dark-100: #bfbfbf;
  --dark-300: #c9c9c9;
  --dark-400: #939393;
  --dark-500: #49494a;
  --dark-600: #363636;
  --dark-800: #232323;
  --blue50: #e3f2fd;
  --blue100: #bbdefb;
  --blue200: #90caf9;
  --blue300: #64b5f6;
  --blue400: #42a5f5;
  --blue500: #2196f3;
  --blue600: #1e88e5;
  --blue700: #1976d2;
  --blue800: #1565c0;
  --blue900: #0d47a1;
  --bluea100: #82b1ff;
  --bluea200: #448aff;
  --bluea400: #2979ff;
  --bluea700: #2962ff;
  --grey50: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --red50: #ffebee;
  --red100: #ffcdd2;
  --red200: #ef9a9a;
  --red300: #e57373;
  --red400: #ef5350;
  --red500: #f44336;
  --red600: #e53935;
  --red700: #d32f2f;
  --red800: #c62828;
  --red900: #b71c1c;
  --reda100: #ff8a80;
  --redea200: #ff5252;
  --reda400: #ff1744;
  --reda700: #d50000;
  --green: #1FD09B;
  --darkgreen: #00B27D;
  --transition: cubic-bezier(0.68, -0.55, 0.265, 1.5);
  --ease-out: cubic-bezier(0.16,1,0.3,1);
  --ease-out-slow: cubic-bezier(0.33,1,0.68,1);
  --ease-in: cubic-bezier(0.12,0,0.39,0);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --border-radius-100: 100px;
  --border-radius-30: 30px;
  --border-radius-24: 24px;
  --border-radius-15: 15px;
  --padding-card-30: 30px;
  --padding-card-20: 20px;
  --padding-card-15: 15px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Roboto normal", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-600);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  color: var(--dark-500);
}

h1,
h2,
h3 {
  font-family: "Roboto-bold", sans-serif;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list,
.list-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-base:hover, .btn-base {
  text-decoration: none;
}
.btn-base:focus, .btn-base:active, .btn-base:hover {
  text-decoration: none;
}

.list-features__title {
  text-transform: capitalize;
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

.text-italic {
  font-family: "Roboto-italic", sans-serif;
}

.m-auto {
  margin: 0 auto;
}

.section-padding {
  padding: 70px 0;
}

.padding-inline {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-inline {
  margin-left: 10px;
  margin-right: 10px;
}

.mask,
.overflow {
  overflow: hidden;
}

.blue-500 {
  color: var(--blue-500);
}

.white {
  background: var(--white);
}

.btn-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}
.btn-button:hover, .btn-button:focus {
  border: none;
  background: none;
  box-shadow: none;
}

.btn-base {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  text-transform: capitalize;
  text-decoration: none;
  line-height: 30px;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 100px;
  z-index: 1;
}

.rounded {
  border-radius: 100px;
}

.btn-base::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transform-origin: left bottom;
  transition: transform 0.6s var(--transition) 0s;
  z-index: -1;
}

.btn-base.btn-outline.fill::before {
  transform: translateX(-120%);
}

.btn-base.btn-outline.fill:hover::before {
  transform: translateX(0%);
}

.btn-base::before {
  transform: translateX(0%);
}

.btn-base:hover::before {
  transform: translateX(-120%);
}

.btn-base:hover {
  transition: background-color 0.2s var(--transition) 0s, transform 0.6s var(--transition) 0.2s;
}

.btn-base .text-container {
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-base .text-container span {
  transition: color 0.5s var(--transition) 0.1s, transform 0.5s var(--transition) 0s;
}

.btn-base:hover .text-container span {
  transform: translateY(-100%);
}

.btn-outline {
  border: 1px solid var(--blue-500);
  border-radius: 100px;
  transition: color border 0.5s var(--transition) 0.4s;
}

.btn-outline.dark {
  border: 1px solid var(--dark-500);
  color: var(--dark-500);
}

.btn-outline.dark:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.dark::before {
  background: var(--blue-500);
}

.btn-outline.fill.blue {
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
}

.btn-outline.fill.blue::before {
  background: var(--blue-500);
}

.btn-outline.fill.blue:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.blue {
  border: 1px solid var(--blue-500);
  color: var(--white);
}

.btn-outline.blue::before {
  background: var(--blue-500);
}

.btn-outline.blue:hover {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}

.btn-outline.green {
  border: 1px solid var(--green-500);
  color: var(--white);
}

.btn-outline.green::before {
  background: var(--green-500);
}

.btn-outline.green:hover {
  color: var(--green-500);
  border: 1px solid var(--green-500);
}

.btn-outline.white {
  border: 1px solid var(--white);
  color: var(--dark-800);
}

.btn-outline.white::before {
  background: var(--white);
}

.btn-outline.white:hover {
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-blue {
  color: var(--white);
  background: var(--blue-500);
}

.btn-blue:focus,
.btn-blue:hover {
  color: var(--white);
  background: var(--green-500);
}

.btn-base-xs {
  padding: 8px 15px;
}

.btn-base-md {
  padding: 10px 20px;
}

.btn-base-lg {
  padding: 12px 30px;
}

.btn-base-xxl {
  padding: 12px 40px;
}

.list,
.list-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-features__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.list-features__title {
  font-size: 18px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  min-height: 100%;
  background: #363636;
  flex-direction: row;
  align-items: stretch;
}

.content-container {
  background: #fff;
  flex: 1 1 0;
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  flex-direction: column;
}

.sidebar {
  background: var(--grey100);
  box-shadow: inset -3px 0 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.hide {
  width: 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #fff;
  width: 100%;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.border-bottom {
  border-bottom: 1px solid var(--dark-50);
}

.account-dashboard {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .sidebar.hide {
    width: 0;
  }
  .sidebar {
    width: 0;
  }
  .toogle {
    display: none;
  }
  .section-padding {
    padding: 60px 0;
  }
}
@media screen and (max-width: 575.98px) {
  body {
    font-size: 13px;
    line-height: normal;
  }
  .section-padding {
    padding: 50px 0;
  }
}
.section-header {
  display: block;
  margin-bottom: 50px;
}

.section-header__title {
  color: var(--dark-800);
  font-family: "Roboto medium", sans-serif;
  font-size: 45px;
  line-height: normal;
  margin-bottom: 30px;
}

.section-header__title span {
  display: block;
}

.section-header__text {
  font-size: 16px;
  line-height: normal;
  color: var(--dark-500);
}

@media screen and (max-width: 1198px) {
  .section-header .section-header__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 991.98px) {
  .section-header .section-header__title {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .section-header .section-header__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 575.98px) {
  .section-header {
    margin-bottom: 30px;
  }
  .section-header .section-header__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .section-header .section-header__text {
    font-size: 13px;
    line-height: normal;
  }
}
.trading-tools {
  padding-top: 70px;
  background: var(--white);
}

.section-header.trading-tools {
  display: flex;
  align-items: flex-end;
  padding-top: unset;
}

.section-header.trading-tools .section-header__title {
  flex: 1 0 auto;
  margin-right: 30px;
  margin-bottom: 0;
}

.trading-tools .inner {
  overflow: hidden;
  border-radius: 50px;
  background: #F5F5F5;
  padding: 16px;
}

.list-features.trading-tools {
  background: transparent;
  padding-top: 0;
}

.list-features.trading-tools .list-features__item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: calc(33.3333333333% - 5px);
  border-radius: 37px;
}

.list-features.trading-tools .list-features__header {
  width: 100%;
  height: 300px;
  background: url("../../../img/copy-trade/trading-tools-pips.png"), linear-gradient(103deg, #E3F3FF 4.33%, #42A5F5 177.15%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: unset;
}

.list-features.trading-tools .list-features__body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
  background: var(--white);
}

.list-features.trading-tools .list-features__item .list-features__title {
  font-family: "Roboto bold", sans-serif;
  color: var(--dark-800);
  font-size: 30px;
  font-weight: 700;
}

.list-features.trading-tools .list-features__item .list-features__text {
  flex-grow: 1;
  text-transform: capitalize;
}

.list-features.trading-tools .list-features__title,
.list-features.trading-tools .list-features__text {
  margin-bottom: 15px;
}

.list-features.trading-tools .list-features__item.icon::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.list-features.trading-tools .list-features__item.tools::before {
  background: url("../../../icons/icon-tools.svg"), rgba(255, 255, 255, 0.7);
  background-size: 28px 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.list-features.trading-tools .list-features__item.market::before {
  background: url("../../../icons/icon-level-up.svg"), rgba(255, 255, 255, 0.7);
  background-size: 28px 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.list-features.trading-tools .list-features__item.chess::before {
  background: url("../../../icons/icon-chess.svg"), rgba(255, 255, 255, 0.7);
  background-size: 28px 27px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1198px) {
  .list-features.trading-tools .list-features__header {
    height: 200px;
  }
  .list-features.trading-tools .list-features__item .list-features__title {
    font-size: 20px;
  }
  .list-features.trading-tools .list-features__item {
    border-radius: 37px;
  }
  .list-features.trading-tools {
    justify-content: flex-start;
  }
  .list-features.trading-tools .list-features__item {
    flex-basis: calc(50% - 10px);
  }
  .list-features.trading-tools .list-features__item:first-child {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .list-features.trading-tools .list-features__header {
    height: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .section-header.trading-tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-header.trading-tools .section-header__title {
    margin-bottom: 15px;
  }
  .list-features.trading-tools .list-features__item .list-features__title {
    font-size: 24px;
  }
  .list-features.trading-tools .list-features__item {
    flex-basis: 100%;
  }
  .list-features.trading-tools .list-features__item:first-child {
    margin-right: 0;
  }
  .list-features.trading-tools .list-features__item {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .section-header.trading-tools .section-header__title {
    flex-basis: 100%;
    margin-right: 0;
  }
  .trading-tools .inner {
    padding: 7px;
    border-radius: 23px;
  }
  .trading-tools {
    padding-top: 0;
  }
  .list-features.trading-tools .list-features__item {
    border-radius: 18px;
  }
  .list-features.trading-tools .list-features__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 170px;
    height: 170px;
    padding: 10px;
  }
  .list-features.trading-tools .list-features__header img {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .list-features.trading-tools .list-features__body {
    padding: 20px;
  }
  .list-features.trading-tools .list-features__item .list-features__title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .list-features.trading-tools .list-features__item .list-features__text + .btn-outline {
    padding: 8px 24px;
  }
  .list-features.trading-tools .list-features__item.icon::before {
    width: 25px;
    height: 25px;
    background-size: 13px 13px;
  }
}/*# sourceMappingURL=trading-tools.css.map */