// @import '../../templates/template.scss';
// @import '../../main/section-header/section-header.scss';

.trading-tools {
    padding-top: 70px;
    background: var(--white);
}


.section-header.trading-tools {
    display: flex;
    align-items: flex-end;
    padding-top: unset;
}

.section-header.trading-tools .section-header__title {
    flex: 1 0 auto;
    margin-right: 30px;
    margin-bottom: 0;
}


.trading-tools .inner {
    overflow: hidden;
    border-radius: 50px;
    background: #F5F5F5;
    padding: 16px;
}

.list-features.trading-tools {
    background: transparent;
    padding-top: 0;
}

.list-features.trading-tools .list-features__item {
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex-basis: calc(100% / 3 - 5px);

    border-radius: 37px;
}



.list-features.trading-tools .list-features__header {
    width: 100%;
    height: 300px;

    background: url('../../../img/copy-trade/trading-tools-pips.png'), linear-gradient(103deg, #E3F3FF 4.33%, #42A5F5 177.15%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: unset;
}


.list-features.trading-tools .list-features__body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;

    padding: 30px;
    background: var(--white);
}

.list-features.trading-tools .list-features__item .list-features__title {
    font-family: "Roboto bold", sans-serif;
    color: var(--dark-800);
    font-size: 30px;
    font-weight: 700;
}

.list-features.trading-tools .list-features__item .list-features__text {
    flex-grow: 1;
    text-transform: capitalize;
}


.list-features.trading-tools .list-features__title,
.list-features.trading-tools .list-features__text {
    margin-bottom: 15px;
}

.list-features.trading-tools .list-features__item.icon::before {
    position: absolute;
    top: 20px;
    left: 20px;

    content: '';
    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;
    border-radius: 50%;
}


.list-features.trading-tools .list-features__item.tools::before {
    background: url('../../../icons/icon-tools.svg'), rgba(255, 255, 255, 0.7);
    background-size: 28px 27px;
    background-repeat: no-repeat;
    background-position: center;
}

.list-features.trading-tools .list-features__item.market::before {
    background: url('../../../icons/icon-level-up.svg'), rgba(255, 255, 255, 0.7);
    background-size: 28px 27px;
    background-repeat: no-repeat;
    background-position: center;
}

.list-features.trading-tools .list-features__item.chess::before {
    background: url('../../../icons/icon-chess.svg'), rgba(255, 255, 255, 0.7);
    background-size: 28px 27px;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width:1198px) {
    .list-features.trading-tools .list-features__header {
        height: 200px;
    }

    .list-features.trading-tools .list-features__item .list-features__title {
        font-size: 20px;
    }

    .list-features.trading-tools .list-features__item {
        border-radius: 37px;
    }


    .list-features.trading-tools {
        justify-content: flex-start;
    }

    .list-features.trading-tools .list-features__item {
        flex-basis: calc(100% / 2 - 10px);
    }

    .list-features.trading-tools .list-features__item:first-child {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .list-features.trading-tools .list-features__header {
        height: auto;
    }
}

@media screen and (max-width:767.98px) {
    .section-header.trading-tools {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-header.trading-tools .section-header__title {
        margin-bottom: 15px;
    }

    .list-features.trading-tools .list-features__item .list-features__title {
        font-size: 24px;
    }

    .list-features.trading-tools .list-features__item {
        flex-basis: 100%;
    }

    .list-features.trading-tools .list-features__item:first-child {
        margin-right: 0;
    }

    .list-features.trading-tools .list-features__item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:575.98px)  {
    .section-header.trading-tools .section-header__title {
        flex-basis: 100%;
        margin-right: 0;
    }

    .trading-tools .inner {
        padding: 7px;
        border-radius: 23px;
    }

    .trading-tools {
        padding-top: 0;
    }
    

    .list-features.trading-tools .list-features__item {
        border-radius: 18px;
    }

    .list-features.trading-tools .list-features__header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 170px;
        height: 170px;
        padding: 10px;
    }

    
    .list-features.trading-tools .list-features__header img {
        display: block;
        object-fit: contain;
        max-width: 100%;
        height: 100%;
        object-position: center;
    }

    .list-features.trading-tools .list-features__body {
        padding: 20px;
    }

    .list-features.trading-tools .list-features__item .list-features__title {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .list-features.trading-tools .list-features__item .list-features__text + .btn-outline {
        padding: 8px 24px;
    }

    .list-features.trading-tools .list-features__item.icon::before {
        width: 25px;
        height: 25px;

        background-size: 13px 13px;
    }

 
}