@import "../templates/template.scss";

.list.label.is-hide {
    display: none;
}

.list.label {
    display: grid;
    grid-template-columns: repeat(2, 85px);
    row-gap: 5px;
}

.list.label .list__item {
    padding: 4px 7px;
    border-radius: 100px;
}


.list.label .text {
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    width: 74px;
    height: 13px;

    text-overflow: ellipsis;
}


.list.label .text {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: left;
}
 


.label-cashback {
    color: #523108;
    background: #ffcd8f;
}

.label-copy-trade {
    color: #0b5941;
    background: #a8ffe3;
}

.label-ib {
    color: var(--white);
    background: var(--dark-800);
}





.list.label.dropdown-menu {
    display: block;
}

.list.label.dropdown-menu  .list__item .text {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;

    width: 100%;
    height: 100%;

    padding: 3px 7px;
    border-radius: 100px;
}

.list.label.dropdown-menu  .list__item {
    padding: 0;
}