@import '../../templates/template.scss';
@import '../../keyframes/keyframes.scss';

.top-choose {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    background: var(--white);
    border-radius: 50px;
}

.section-header.top-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.section-header.top-choose .section-header__text {
    margin-bottom: 30px;
    max-width: 564px;
}

.section-header.top-choose .section-header__text+.btn-outline.blue {
    padding: 15px 30px;
}



.top-choose>.top {
    position: sticky;
    top: 10px;
}

.top-choose>.bottom {
    height: 200vh;
}

.top-choose>.bottom>.sticky {
    overflow: hidden;
    position: sticky;
    top: 350px;

    height: 430px;
}


.list-features.horizontal-scroll {
    position: absolute;
    top: 0;
    left: 13%;

    display: grid;
    grid-template-columns: repeat(4, 522px);
    justify-content: flex-start;
    gap: 15px;

    height: 100%;
    width: 150vw;

    padding: 30px 0;
    background: var(--white);

    will-change: transform;
}


.list-features.horizontal-scroll .list-features__item {
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 20px 20px 40px 20px;
    border-radius: 37px;
    background: #F5F5F5;
}

.list-features.horizontal-scroll .list-features__header {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 200px;

    width: 100%;
    height: auto;

    border-radius: unset;
    margin-bottom: 20px;
}

.list-features.horizontal-scroll .list-features__item:hover .icon-hover {
    transform: translateY(10px) rotate(3.728deg);
}

.list-features.horizontal-scroll .list-features__item:hover .icon-bottom {
    transform: translateY(0) rotate(-3.588deg);
}

.list-features.horizontal-scroll .list-features__item.best-solution:hover .icon-hover {
    transform: translateY(-10px) rotate(-3.588deg);
}

.list-features.horizontal-scroll .list-features__item.statistics:hover .icon-hover {
    transform: translateY(-10px) rotate(-8.406deg);
}


.list-features.horizontal-scroll .list-features__item .icon-bottom,
.list-features.horizontal-scroll .list-features__header>.icon-hover,
.list-features.horizontal-scroll .list-features__item.best-solution .icon-hover {
    transition: transform .4s var(--ease-in-out) 0s;
    transform-origin: left;
}



.list-features.horizontal-scroll .list-features__item.best-solution .icon-hover {
    transform: translateY(0) rotate(0deg);
    filter: drop-shadow(29px 29px 30px rgba(26, 48, 158, 0.05));
}


.list-features.horizontal-scroll .list-features__item.statistics .icon-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(0) rotate(0deg);
    filter: drop-shadow(5px 30px 30px rgba(26, 48, 158, 0.1));
}


.list-features.horizontal-scroll .list-features__header>.icon-hover {
    position: absolute;
    top: 15px;
    left: 0;

    transform: translateY(0) rotate(-3.588deg);
    filter: drop-shadow(5px 30px 30px rgba(26, 48, 158, 0.1));
    z-index: 2;
}


.list-features.horizontal-scroll .list-features__body {
    flex: 1 0 auto;
    max-width: 250px;
}


.list-features.horizontal-scroll .list-features__title {
    color: var(--dark-800);
    font-family: "Roboto-bold", sans-serif;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 10px;

    font-weight: 700;
}

.list-features.horizontal-scroll .list-features__text {
    line-height: normal;
}








@media screen and (min-width:1920px) {
    .top-choose>.bottom>.sticky {
        max-height: 50vh;
        height: 400px;
    }

    .list-features.horizontal-scroll {
        left: 30%;
    }
}

@media screen and (max-width:1198px) {
    .list-features.horizontal-scroll .list-features__title {
        font-size: 20px;
    }

    // .top-choose>.bottom>.sticky {
    //     height: 32vh;
    // }
}

@media screen and (max-width:991.98px) {
    .top-choose>.bottom {
        height: 350vh;
    }

    .list-features.horizontal-scroll {
        width: 350vw;
    }

    .top-choose>.bottom>.sticky {
        top: 300px;
    }

 

}

@media screen and (max-width:767.98px) {
    .top-choose>.bottom>.sticky {
        height: 400px;
    }

    .top-choose>.bottom {
        height: 400vh;
    }

    .list-features.horizontal-scroll {
        width: 400vw;
        left: 7%;
    }


}

@media screen and (max-width:575.98px) {
    .top-choose {
        margin: 0;
        border-radius: 0;
    }

    .section-header.top-choose {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 0;
    }

    .top-choose>.top {
        position: static;
        height: auto;
    }

    .top-choose>.bottom {
        height: auto;
    }

    .top-choose>.bottom>.sticky {
        overflow: auto;
        position: static;
        height: auto;
    }


    .list-features.horizontal-scroll {
        position: static;

        display: flex;
        flex-direction: column;
        width: auto;
    }

    .list-features.horizontal-scroll .list-features__header {
        display: flex;
        align-items: center;
        justify-content: center;

        flex: 1 1 170px;
        height: 170px;
    }

    .list-features.horizontal-scroll .list-features__item .icon-hover {
        display: none;
    }

    .list-features.horizontal-scroll .list-features__item:hover .icon-hover {
        transform: unset;
    }

    .list-features.horizontal-scroll .list-features__title {
        font-size: 18px;
    }

    .section-header.top-choose .section-header__text+.btn-outline.blue {
        padding: 12px 20px;
    }

}