@charset "UTF-8";
@font-face {
  font-family: "Roboto-light", sans-serif;
  src: url("/fonts/roboto-latin-100-normal.woff2") format("woff2"), url("/fonts/roboto-latin-100-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-normal", sans-serif;
  src: url("/fonts/roboto-latin-400-normal.woff2") format("woff2"), url("/fonts/roboto-latin-400-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-bold", sans-serif;
  src: url("/fonts/roboto-latin-700-normal.woff2") format("woff2"), url("/fonts/roboto-latin-700-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-medium", sans-serif;
  src: url("/fonts/roboto-latin-500-normal.woff2") format("woff2"), url("/fonts/roboto-latin-500-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-italic", sans-serif;
  src: url("/fonts/roboto-latin-500-italic.woff2") format("woff2"), url("/fonts/roboto-latin-500-italic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/montserrat-latin-700-normal.woff2") format("woff2"), url("/fonts/montserrat-latin-700-normal.woff") format("woff");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/montserrat-latin-300-italic.woff2") format("woff2"), url("/fonts/montserrat-latin-300-italic.woff") format("woff");
}
:root {
  --font-size-50-24: clamp(1.5rem, -0.0234rem + 4.0625vw, 3.125rem);
  --font-size-30-18: clamp(1.125rem, 0.4219rem + 1.875vw, 1.875rem);
  --font-size-20-14: clamp(0.875rem, 0.5234rem + 0.9375vw, 1.25rem);
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.813rem;
  --font-size-11: 0.688rem;
  --font-size-10: 0.625rem;
  --line-height-30: 30px;
  --line-height-24: 24px;
  --line-height-21: 21px;
  --blue-500: #42a5f5;
  --blue-900: #008DFF;
  --blue-100: #7F9FF;
  --green-500: #4cd7ab;
  --violet-900: #430F96;
  --violet-500: #6C25DE;
  --red-100: #ffdddc;
  --red-500: #e53935;
  --white: #fff;
  --dark-50: #F0F0F0;
  --dark-100: #bfbfbf;
  --dark-300: #c9c9c9;
  --dark-400: #939393;
  --dark-500: #49494a;
  --dark-600: #363636;
  --dark-800: #232323;
  --blue50: #e3f2fd;
  --blue100: #bbdefb;
  --blue200: #90caf9;
  --blue300: #64b5f6;
  --blue400: #42a5f5;
  --blue500: #2196f3;
  --blue600: #1e88e5;
  --blue700: #1976d2;
  --blue800: #1565c0;
  --blue900: #0d47a1;
  --bluea100: #82b1ff;
  --bluea200: #448aff;
  --bluea400: #2979ff;
  --bluea700: #2962ff;
  --grey50: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --red50: #ffebee;
  --red100: #ffcdd2;
  --red200: #ef9a9a;
  --red300: #e57373;
  --red400: #ef5350;
  --red500: #f44336;
  --red600: #e53935;
  --red700: #d32f2f;
  --red800: #c62828;
  --red900: #b71c1c;
  --reda100: #ff8a80;
  --redea200: #ff5252;
  --reda400: #ff1744;
  --reda700: #d50000;
  --green: #1FD09B;
  --darkgreen: #00B27D;
  --transition: cubic-bezier(0.68, -0.55, 0.265, 1.5);
  --ease-out: cubic-bezier(0.16,1,0.3,1);
  --ease-out-slow: cubic-bezier(0.33,1,0.68,1);
  --ease-in: cubic-bezier(0.12,0,0.39,0);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --border-radius-100: 100px;
  --border-radius-30: 30px;
  --border-radius-24: 24px;
  --border-radius-15: 15px;
  --padding-card-30: 30px;
  --padding-card-20: 20px;
  --padding-card-15: 15px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Roboto-normal", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-30);
  font-weight: 400;
  color: var(--dark-600);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  color: var(--dark-500);
}

h1,
h2,
h3 {
  font-family: "Roboto-bold", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.top-choose.bottom .grid, .list,
.list-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-base:hover, .btn-base {
  text-decoration: none;
}
.btn-base:focus, .btn-base:active, .btn-base:hover {
  text-decoration: none;
}

.top-choose.bottom .grid .grid__item .img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.progress__top .progress__circle.is-active + .title, .hero.copy-trade .container.xxl .bottom .background.bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list.instruments .list__item .animate, .list.instruments .list__item, .instruments .bottom, .top-choose.bottom .grid .grid__item,
.splide__list.awards .splide__slide {
  border-radius: var(--border-radius-30);
}

.list-features__title {
  text-transform: capitalize;
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

.text-italic {
  font-family: "Roboto-italic", sans-serif;
}

.section-padding {
  padding: 70px 0;
}

.padding-inline {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-inline {
  margin-left: 10px;
  margin-right: 10px;
}

.blue-500 {
  color: var(--blue-500);
}

.white {
  background: var(--white);
}

.btn-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}
.btn-button:hover, .btn-button:focus {
  border: none;
  background: none;
  box-shadow: none;
}

.btn-base {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 100px;
  z-index: 1;
}

.rounded {
  border-radius: 100px;
}

.btn-base::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transform-origin: left bottom;
  transition: transform 0.6s var(--transition) 0s;
  z-index: -1;
}

.btn-base.btn-outline.fill::before {
  transform: translateX(-120%);
}

.btn-base.btn-outline.fill:hover::before {
  transform: translateX(0%);
}

.btn-base::before {
  transform: translateX(0%);
}

.btn-base:hover::before {
  transform: translateX(-120%);
}

.btn-base:hover {
  transition: background-color 0.2s var(--transition) 0s, transform 0.6s var(--transition) 0.2s;
}

.btn-base .text-container {
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  height: var(--line-height-30);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-base .text-container span {
  transition: color 0.5s var(--transition) 0.1s, transform 0.5s var(--transition) 0s;
}

.btn-base:hover .text-container span {
  transform: translateY(-100%);
}

.btn-outline {
  border: 1px solid var(--blue-500);
  border-radius: 100px;
  transition: color border 0.5s var(--transition) 0.4s;
}

.btn-outline.dark {
  border: 1px solid var(--dark-500);
  color: var(--dark-500);
}

.btn-outline.dark:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.dark::before {
  background: var(--blue-500);
}

.btn-outline.fill.blue {
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
}

.btn-outline.fill.blue::before {
  background: var(--blue-500);
}

.btn-outline.fill.blue:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.blue {
  border: 1px solid var(--blue-500);
  color: var(--white);
}

.btn-outline.blue::before {
  background: var(--blue-500);
}

.btn-outline.blue:hover {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}

.btn-outline.green {
  border: 1px solid var(--green-500);
  color: var(--white);
}

.btn-outline.green::before {
  background: var(--green-500);
}

.btn-outline.green:hover {
  color: var(--green-500);
  border: 1px solid var(--green-500);
}

.btn-outline.white {
  border: 1px solid var(--white);
  color: var(--dark-800);
}

.btn-outline.white::before {
  background: var(--white);
}

.btn-outline.white:hover {
  color: var(--dark-800);
  border: 1px solid var(--white);
}

.btn-blue {
  color: var(--white);
  background: var(--blue-500);
}

.btn-blue:focus,
.btn-blue:hover {
  color: var(--white);
  background: var(--green-500);
}

.btn-base-xs {
  padding: 8px 15px;
}

.btn-base-md {
  padding: 10px 20px;
}

.btn-base-lg {
  padding: 10px 30px;
}

.btn-base-xxl {
  padding: 10px 40px;
}

.list,
.list-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-features__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.list-features__title {
  font-size: 18px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  min-height: 100%;
  background: #363636;
  flex-direction: row;
  align-items: stretch;
}

.content-container {
  background: #fff;
  flex: 1 1 0;
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  flex-direction: column;
}

.sidebar {
  background: var(--grey100);
  box-shadow: inset -3px 0 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.hide {
  width: 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #fff;
  width: 100%;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.border-bottom {
  border-bottom: 1px solid var(--dark-50);
}

.account-dashboard {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .sidebar.hide {
    width: 0;
  }
  .sidebar {
    width: 0;
  }
  .toogle {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .section-padding {
    padding: 50px 0;
  }
}
@keyframes pulse {
  from {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
@keyframes online-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
  70.1%, to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes fly-smooth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(80px) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forward {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(320px) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes rotate-forward-small {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(100px) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
.align-items-center {
  display: flex;
  align-items: center;
}

.copy-trading {
  background: #D1E0E5;
}

.header.copy-trade {
  width: 100%;
  background: var(--white);
}

.header.copy-trade .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header.copy-trade .navigation .inner {
  display: flex;
  align-items: center;
}

.header.copy-trade .navigation .logo {
  display: inline-block;
}

.list.nav-menu {
  margin-right: 70px;
}

.list.nav-menu .list__item:not(:last-child) {
  margin-right: 10px;
}

.list.nav-menu .list__item .link {
  font-size: 14px;
  line-height: normal;
  padding: 10px 20px;
  color: var(--dark-800);
  transition: all 0.3s ease-in-out 0s;
}
.list.nav-menu .list__item .link::first-letter {
  display: block;
  content: "";
  text-transform: uppercase;
}
.list.nav-menu .list__item .link:hover, .list.nav-menu .list__item .link:focus {
  text-decoration: none;
  color: var(--white);
  background: var(--blue-500);
}

.list.nav-menu .list__item::first-letter {
  text-transform: uppercase;
}

.section-header {
  margin-bottom: 0;
}

.section-title,
.section-header__title {
  font-size: 45px;
}

.section-title,
.section-header .section-header__title,
.section-header .section-header__text {
  margin-bottom: 30px;
  color: var(--dark-800);
}

.section-header__title span {
  display: inline-block;
}

.title,
.section-title,
.section-header .section-header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.section-title span {
  display: block;
}

.section-padding.xxl {
  padding-top: 100px;
  padding-bottom: 100px;
}

.margin-inline {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-outline.blue {
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
}

.mask,
.overflow {
  overflow: hidden;
}

.hero.copy-trade {
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.hero.copy-trade .top {
  padding-top: 40px;
  background: url("../../img/copy-trade/icon.png"), url("../../img/copy-trade/hero-top-pips.png"), transparent;
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

.hero.copy-trade .container.xxl .top .background.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100%;
  max-width: 1600px;
  border-radius: 30px;
  background: #DFF6FF;
  z-index: -1;
}

.hero.copy-trade .container.xxl .bottom .background.bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100dvw;
  height: 100%;
  max-width: 1600px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #06283D;
  z-index: -1;
}

.hero.copy-trade .bottom .inner > .animation {
  z-index: 3;
}

.hero.copy-trade .top .section-title .inner {
  display: flex;
  flex-wrap: nowrap;
}

.section-title.copy-trade {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 5.2vw;
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-top: 8%;
}

.section-title.copy-trade .inner {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.section-title.copy-trade > .inner .letter-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 6.5vw;
  max-width: 100px;
  height: auto;
  border: 2px solid transparent;
}

.section-title.copy-trade > .inner span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title.copy-trade .inner .letter {
  position: relative;
  width: 9.3vw;
  height: auto;
}

.section-title.copy-trade .text .letter {
  width: 9vw;
  height: auto;
}

.section-title.copy-trade .text {
  display: flex;
  flex-wrap: nowrap;
  color: var(--white);
  background: var(--blue-500);
  padding: 2%;
}

.section-title.copy-trade + .user-trade {
  margin-left: auto;
  margin-right: 4%;
}

.hero.copy-trade .hero-image {
  position: relative;
  left: -5%;
}

.hero.copy-trade .hero-image .hero-man {
  bottom: 0;
  left: 40%;
  width: auto;
  height: 100%;
  z-index: 10;
}

.hero.copy-trade .hero-image .badge.rounded,
.hero.copy-trade .hero-image .hero-man {
  position: absolute;
}

.hero.copy-trade .hero-image .badge.rounded {
  top: 20%;
  left: 84%;
  font-size: 14px;
  color: var(--dark-800);
  padding: 20px 30px;
  background: #FFD643;
}

.hero.copy-trade .bottom {
  position: relative;
  background: url("../../img/copy-trade/hero-bottom-pips.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: contain;
  background-clip: padding-box;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 0px 0px 50px 50px;
}

.hero.copy-trade .bottom,
.hero.copy-trade .bottom .inner > .inner {
  position: relative;
}

.hero.copy-trade .bottom > .inner {
  display: flex;
  align-items: center;
}

.hero.copy-trade .bottom .inner > .inner::before {
  position: absolute;
  bottom: -23px;
  left: -25%;
  display: inline-block;
  content: "";
  width: 187px;
  height: 91px;
  background: url("../../img/copy-trade/arrow-rounded.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: contain, contain;
}

.hero.copy-trade .bottom .inner > .animation {
  position: relative;
  top: -110px;
  width: 30%;
  margin-right: 8%;
  filter: drop-shadow(-40px 61px 60px rgba(0, 0, 0, 0.2));
}

.hero.copy-trade .bottom .inner > .inner {
  width: 70%;
}

.hero.copy-trade .bottom .inner > .btn-green {
  padding: 20px 40px;
  font-size: 20px;
  line-height: 30px;
}

.hero.copy-trade .row.align-items-center {
  align-items: center;
}

.hero.copy-trade .bottom .text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 30px;
  max-width: 700px;
}

.hero.copy-trade .hero-image .video-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 100%;
}

.hero.copy-trade .hero-image .video-container .hero-phone {
  position: relative;
  z-index: 2;
}

.hero.copy-trade .hero-image .video-container .video {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-top-right-radius: 2.604vw;
  border-top-left-radius: 2.604vw;
  width: 23vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}

.section-header.awards {
  display: block;
  margin-bottom: 0;
  background: transparent;
}

.section-header.awards .section-header__title {
  margin-bottom: 30px;
}

.section-header.awards .section-header__text {
  max-width: 540px;
}

.awards {
  background: url("../../img/copy-trade/awards-branch.svg");
  background-repeat: no-repeat;
  background-position: 50% -130px;
  background-size: cover;
  background-clip: padding-box;
}

.awards.top.white {
  background: url(""), var(--white);
}

.awards.top .awards-benefits {
  display: flex;
  align-items: center;
}

.awards.top .awards-benefits .title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.awards.top .awards-benefits .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 93px;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  border: 1px solid var(--dark-800);
  margin-right: 3%;
}

.top-choose.bottom .grid .grid__item,
.splide__list.awards .splide__slide {
  position: relative;
  padding: 30px;
  background: var(--white);
}

.splide__list.awards .splide__slide.is-active {
  color: var(--white);
  background: #1363DF;
}

.splide__list.awards .splide__slide.is-active .company,
.splide__list.awards .splide__slide.is-active .text,
.splide__list.awards .splide__slide.is-active .title {
  color: var(--white);
}

.splide__list.awards .splide__slide svg {
  fill: rgba(216, 216, 216, 0.5);
  opacity: 0.5;
}

.splide__list.awards .splide__slide.is-active svg {
  fill: var(--white);
}

.splide__list.awards .splide__slide .title {
  font-size: 20px;
  margin-bottom: 6px;
}

.splide__list.awards .splide__slide .company,
.splide__list.awards .splide__slide .title,
.splide__list.awards .splide__slide .title span {
  text-transform: uppercase;
}

.splide__list.awards .splide__slide .company,
.splide__list.awards .splide__slide .text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--dark-500);
}

.splide__list.awards .splide__slide .text {
  margin-bottom: 17px;
  color: var(--dark-500);
}

.splide__list.awards .splide__slide .company {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--dark-400);
}

.splide__list.awards .splide__slide .olive-branch {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.awards.bottom {
  background: transparent;
  padding: 100px 10px 100px 10px;
}

.about {
  position: relative;
  border-radius: 50px;
}

.about .container {
  position: relative;
  z-index: 2;
}

.about .background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1600px;
  border-radius: 30px;
  background: url("../../img/copy-trade/about-pips.png"), var(--white);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: 1;
}

.about .phone-left,
.about .phone-right {
  position: absolute;
}

.about .phone-right {
  top: -50px;
  right: -50px;
}

.about .phone-left {
  bottom: -50%;
  left: -50px;
}

.section-header.about {
  display: block;
  margin-bottom: 0;
}

.section-header.about,
.animation.about {
  background: transparent;
}

.section-header.about .sign {
  margin-bottom: 30px;
}

.section-header.about .sign {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: italic;
  line-height: normal;
}

.section-header.about .button-container .btn-blue {
  margin-right: 10px;
}

.divider {
  padding-bottom: 80px;
}

.divider .animation.about {
  position: relative;
}

.divider .animation.about::before {
  position: absolute;
  top: 17%;
  left: -22%;
  display: inline-block;
  content: "";
  width: 187px;
  height: 124px;
  background: url("../../img/copy-trade/arrow-rounded-xl.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: contain, contain;
  z-index: 1;
}

.divider .animation.about .animation-2 {
  position: relative;
  top: -70px;
  filter: drop-shadow(-40px 61px 100px rgba(6, 40, 61, 0.2));
  z-index: 2;
}

.promo-video {
  position: relative;
  margin-bottom: 1%;
  border-radius: 40px;
}

.promo-video .video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 99.98vw;
  height: 100%;
  aspect-ratio: 16/5;
  border-radius: 40px;
}

.promo-video .video-container video {
  display: block;
  width: 101vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 16/5;
  border-radius: 40px;
}

.easy-start {
  overflow: hidden;
  background: url("../../img/copy-trade/ease-start.png"), var(--white);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: contain, contain;
  position: relative;
  border-radius: 40px;
}

.easy-start.section-padding.xxl {
  padding-top: 100px;
  padding-bottom: 100px;
}

.easy-start .section-title {
  width: 39%;
  margin-left: 46%;
  margin-bottom: 70px;
}

.horizontal {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list.video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.horizontal .list.video .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 130px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 5px solid var(--green-500);
  background: transparent;
}

.list.video .list__item .video {
  border-radius: 30px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 50px 70px 80px -50px rgba(0, 0, 0, 0.15);
}

.list.video .list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  border-radius: 20px;
}

.list.video .list__item:last-child {
  align-items: center;
  justify-content: flex-start;
}

.list.video .list__item .section-header {
  max-width: 400px;
}

.progress,
.progress__top,
.top-choose.bottom .grid .grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list.header .list__item > .section-header .section-header__title {
  font-size: 30px;
}

.list.header .list__item > .section-header .section-header__title,
.list.header .list__item > .section-header .section-header__text {
  margin-bottom: 20px;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: auto;
  margin-top: 150px;
  box-shadow: unset;
  margin-bottom: 0;
  background: transparent;
}

.progress__top,
.progress__top .progress__circle.is-active {
  position: relative;
}

.progress__top .progress__circle.is-active {
  z-index: 2;
}

.progress__top .progress__circle {
  position: absolute;
  width: 130px;
  height: 130px;
  z-index: 1;
}

.progress__line,
.progress__bar {
  position: absolute;
  top: 280px;
  width: 3px;
  height: 100%;
  background: #D1D1D1;
  z-index: 10;
}

.progress__bar {
  z-index: 1;
}

.progress__line {
  top: 0;
  height: 0%;
  background: var(--green-500);
  z-index: 3;
}

.progress__top .progress__circle.is-active + .title {
  font-size: 45px;
}

.progress__circle.is-active circle {
  /* Анимируй офссет */
  stroke-dashoffset: 402px;
  stroke-dasharray: 402px;
  stroke-linecap: round;
}

.wrapper.blue {
  background: var(--white);
}

.wrapper.blue {
  padding-top: 100px;
}

.top-choose.top {
  background: url("../../img/copy-trade/top-choose-pips.png"), #1363DF;
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

.top-choose.bottom {
  background: transparent;
}

.top-choose.bottom .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 410px);
  justify-content: center;
  align-self: center;
  gap: 12px;
}

.top-choose.bottom .grid .grid__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 30px;
  background: var(--white);
}

.top-choose.bottom .grid .grid__item::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(3, 25, 38, 0.6);
  z-index: 2;
}

.top-choose.bottom .grid .grid__item .animate {
  position: relative;
  z-index: 3;
}

.top-choose.bottom .grid .grid__item .text,
.top-choose.bottom .grid .grid__item .title {
  color: var(--white);
}

.top-choose.bottom .grid .grid__item .img-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 900px;
  height: 600px;
  z-index: 1;
}

.top-choose.bottom .grid .grid__item .title {
  font-size: 2.344vw;
  margin-bottom: 18px;
}

.section-header.top-choose {
  display: block;
  margin-bottom: 0;
  color: var(--white);
  transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.section-header.instruments .section-header__title,
.section-header.instruments .section-header__text,
.section-header.top-choose .section-header__text,
.section-header.top-choose .section-header__title {
  color: var(--white);
}

.section-header.top-choose .section-header__text {
  max-width: 560px;
}

.instruments .top {
  background: url("../../img/copy-trade/instrument-pips.png"), var(--white);
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: contain, contain;
}

.section-header.instruments {
  display: block;
  background: transparent;
}

.section-header.instruments .section-header__title,
.section-header.instruments .section-header__text {
  color: var(--dark-800);
}

.instruments .container.xxl {
  padding-left: 0;
  padding-right: 0;
}

.fly-smooth {
  animation: fly-smooth 5s ease 0s infinite;
}

.instruments .bottom {
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
  background: #0440E4;
}

.list.instruments {
  display: flex;
  align-items: center;
  justify-content: stretch;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.list.instruments .list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  pointer-events: visible;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20% 10px 10px 10px;
}

.list.instruments .list__item .mask {
  overflow: hidden;
  position: relative;
  display: flex;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.list.instruments .list__item .mask .title {
  position: relative;
  font-size: 45px;
  line-height: normal;
  text-align: center;
  color: var(--white);
  width: 100%;
  transform: translateY(100%);
  transition: transform 1000ms var(--ease-in-out) 200ms;
  z-index: 10;
}

.list.instruments .list__item .animate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  cursor: pointer;
  background: rgb(4, 64, 228);
  padding: 30px;
  z-index: 10;
}

.list.instruments .list__item .animate .title {
  font-size: 30px;
  line-height: normal;
  text-transform: capitalize;
}

.list.instruments .list__item .animate .title,
.list.instruments .list__item .animate .text {
  color: var(--white);
  margin-bottom: 18px;
}

.list.instruments .list__item .animate .text::first-letter {
  text-transform: uppercase;
}

.list.instruments .list__item:first-child .video {
  -o-object-position: -200px 50%;
     object-position: -200px 50%;
}

.list.instruments .list__item .video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10px;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .container.xxl {
    width: 100%;
  }
}
@media screen and (min-width: 1450px) {
  .hero.copy-trade .section-title {
    font-size: 80px;
  }
  .hero.copy-trade .section-title.copy-trade .text {
    font-size: 70px;
    align-items: center;
  }
  .hero.copy-trade .section-title.copy-trade .text .letter {
    align-items: center;
    width: auto;
    height: 56px;
  }
  .hero.copy-trade .section-title.copy-trade .letter {
    width: 100%;
    height: 56px;
  }
  .top-choose.bottom .grid .grid__item .title {
    font-size: 45px;
    line-height: normal;
  }
  .easy-start {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 1400px;
  }
}
@media screen and (min-width: 1400px) {
  .container.xxl {
    width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .instruments .inner {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero.copy-trade .hero-image .video-container {
    width: 320px;
  }
  .hero.copy-trade .top {
    background-size: contain;
  }
  .hero.copy-trade .hero-image .video-container .video {
    width: 290px;
  }
  .hero.copy-trade .hero-image .video-container .video {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .container.xxl {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1198px) {
  .section-title,
  .easy-start .section-title,
  .section-header .section-header__title {
    font-size: clamp(1.5rem, -0.8357rem + 4.8724vw, 2.8125rem);
  }
  .section-title.copy-trade {
    font-size: 4.7vw;
  }
  .section-title.copy-trade .text {
    font-size: 4.5vw;
  }
  .section-title.copy-trade .text .letter {
    width: 7.9vw;
  }
  .section-title.copy-trade .text .letter {
    width: 7.9vw;
  }
  .section-title.copy-trade > .inner .letter-user {
    width: 7vw;
  }
  .hero.copy-trade .hero-image .badge.rounded {
    display: none;
  }
  .awards .row {
    display: flex;
    flex-wrap: wrap;
  }
  .awards.top .order-lg-1,
  .awards.top .order-lg-0 {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .awards.top .order-lg-1 {
    order: 1;
    margin-bottom: 88px;
    margin-left: 48%;
  }
  .awards.top {
    position: relative;
  }
  .awards .animation {
    position: absolute;
    top: -120px;
    left: 5%;
    filter: drop-shadow(-40px 61px 100px rgba(0, 0, 0, 0.2));
  }
  .section-header.awards .section-header__title span {
    display: block;
  }
  .hero.copy-trade .top {
    background-size: contain;
  }
  .hero.copy-trade .bottom .inner > .inner::before {
    left: unset;
    right: 5%;
    transform: rotateY(180deg);
  }
  .hero.copy-trade .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 150px;
  }
  .awards .container-fluid .animation {
    z-index: 5;
  }
  .splide.awards.is-initialized:not(.is-active) .splide__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .splide__list.awards .splide__slide {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.3333333333% - 10px);
    padding: 30px 30px 60px 30px;
  }
  .splide__list.awards .splide__slide .text {
    max-width: 300px;
  }
  .splide__list.awards .splide__slide .company span {
    display: block;
  }
  .about {
    background: url(""), var(--white);
  }
  .top-choose.bottom .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-choose.bottom .grid .grid__item .img-container {
    width: 600px;
    height: 600px;
  }
  .instruments .bottom {
    background: var(--white);
  }
  .instruments .top .row.align-items-center {
    justify-content: space-between;
  }
  .instruments .list.instruments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .instruments .list.instruments .list__item {
    overflow: hidden;
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
    width: auto;
    height: auto;
    z-index: auto;
    border-radius: 30px;
  }
  .instruments .list.instruments .list__item .inner {
    -webkit-clip-path: url("");
            clip-path: url("");
  }
  .list.instruments .list__item .animate svg #clip-3,
  .list.instruments .list__item .animate svg #clip-2 {
    transform: translateX(0);
  }
  .instruments .list.instruments .list__item .video {
    top: unset;
    right: unset;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .instruments .list.instruments .list__item .inner {
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
  }
  .instruments .list.instruments .list__item .animate {
    width: 70%;
  }
  .top-choose.bottom .grid .grid__item .title {
    font-size: 30px;
  }
  .easy-start.section-padding.xxl {
    padding-bottom: 100px;
  }
  .easy-start {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 1890px;
  }
  .easy-start .section-title {
    width: 100%;
    margin-left: 38px;
  }
  .easy-start .section-title span {
    display: block;
  }
  .easy-start .container.xxl {
    padding-left: 50px;
  }
  .list.video .list__item > .section-header .section-header__title {
    font-size: 24px;
  }
  .hero.copy-trade .hero-image .hero-man {
    left: 30%;
  }
  .top-choose .container.xxl {
    padding-left: 0;
    padding-right: 0;
  }
  .hero.copy-trade .bottom > .inner {
    justify-content: center;
    width: 100%;
  }
  .splide.awards.is-initialized:not(.is-active) .splide__list {
    justify-content: space-between;
  }
  .list.instruments .list__item.tools .inner .animate,
  .list.instruments .list__item.markets .inner .animate,
  .list.instruments .list__item.strategies .inner .animate {
    width: 60%;
  }
  .list.instruments .list__item.markets,
  .list.instruments .list__item.strategies,
  .list.instruments .list__item.tools {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transform: unset;
    max-width: 100%;
  }
  .list.instruments .list__item.markets .inner {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .list.instruments .list__item.markets .inner .animate {
    margin-left: unset;
  }
}
@media screen and (max-width: 991.98px) {
  .btn-base-lg {
    padding: 10px 30px;
  }
  .navigation.copy-trade .logo {
    width: 94px;
    height: auto;
  }
  .navigation.copy-trade .list.nav-menu .link {
    padding: 10px;
  }
  .list.nav-menu {
    margin-right: 50px;
  }
  .section-padding.xxl {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-title,
  .section-header .section-header__text,
  .section-header .section-header__title {
    margin-bottom: 20px;
  }
  .awards.top .animation {
    top: -17%;
    left: 35%;
    transform: translateX(-50%);
  }
  .awards.top {
    padding-top: 250px;
  }
  .awards.top .order-lg-0 {
    order: 1;
    margin-bottom: 8%;
  }
  .awards.top .order-lg-1 {
    order: 2;
    margin-left: unset;
    margin-bottom: 0;
  }
  .divider,
  .easy-start.section-padding.xxl {
    padding-bottom: 0;
  }
  .horizontal .list.video .list__item:not(:last-child) {
    padding-left: 50px;
  }
  .list.video {
    gap: 30px;
  }
  .list.video .list__item .section-header {
    max-width: 320px;
  }
  .easy-start .container.xxl {
    padding-left: 15px;
  }
  .easy-start .section-title {
    width: 100%;
    margin-left: 50px;
  }
  .instruments .list.instruments {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .top-choose.bottom .grid {
    grid-template-rows: repeat(2, 250px);
  }
  .section-title.copy-trade > .inner .letter-user {
    width: 7vw;
  }
  .instruments .list.instruments .list__item .animate {
    width: 40%;
  }
  .hero.copy-trade .bottom .inner > .inner::before {
    right: 20px;
  }
  .hero.copy-trade .hero-image {
    left: -72px;
  }
  .list.instruments .list__item.tools .inner .video {
    -o-object-position: bottom;
       object-position: bottom;
  }
  .list.instruments .list__item.tools .inner .animate,
  .list.instruments .list__item.markets .inner .animate,
  .list.instruments .list__item.strategies .inner .animate {
    width: 50%;
  }
  .awards.top .animation {
    top: -120px;
  }
  .list.video .list__item {
    justify-content: flex-start;
  }
  .horizontal .list.video .list__item:nth-child(n+1) {
    padding-left: 50px;
  }
  .horizontal .list.video .circle {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .horizontal .list.video .video,
  .horizontal .list.video .section-header {
    flex: 1 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  .section-title.copy-trade .text {
    font-size: 5.7vw;
    display: flex;
    align-items: center;
  }
  .section-title.copy-trade .text .letter {
    width: 9.9vw;
  }
  .section-title.copy-trade .inner .letter {
    width: 10vw;
    height: unset;
  }
  .section-title.copy-trade > .inner .letter-user {
    width: 7vw;
  }
  .section-title.copy-trade {
    margin-top: 0;
  }
  .section-title.copy-trade .inner {
    font-size: 5.5vw;
  }
  .section-title.copy-trade span {
    display: flex;
    align-items: center;
  }
  .section-title.copy-trade + .user-trade {
    width: 30vw;
    margin-right: 10%;
  }
  .hero.copy-trade .hero-image {
    left: -60px;
  }
  .hero.copy-trade .bottom {
    padding-bottom: 40px;
  }
  .hero.copy-trade .bottom .inner > .inner {
    width: 100%;
  }
  .hero.copy-trade .top {
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .hero.copy-trade .top .container.xxl .row.align-items-center {
    align-items: flex-start;
  }
  .section-header.copy-trade .section-header__text {
    font-size: 14px;
    line-height: 24px;
  }
  .section-header.copy-trade {
    display: block;
    width: 70%;
  }
  .navigation.copy-trade .list.nav-menu {
    display: none;
  }
  .awards.top .animation {
    position: static;
    transform: translateX(0);
    margin-bottom: 100px;
    margin-right: auto;
  }
  .awards.top {
    padding-top: 80px;
  }
  .splide__list.awards .splide__slide {
    flex-basis: calc(50% - 10px);
    gap: 10px;
  }
  .divider .animation.about::before {
    left: 0;
  }
  .divider .animation.about img {
    margin: 0 auto;
  }
  .top-choose.bottom .grid {
    grid-template-rows: repeat(2, 190px);
  }
  .top-choose.bottom .grid .grid__item .title {
    font-size: 3.911vw;
  }
  .top-choose.bottom .grid .grid__item .img-container {
    top: 0;
    width: 400px;
    height: 300px;
  }
  .instruments .top .row.align-items-center {
    flex-wrap: wrap;
  }
  .instruments .top .row.align-items-center .col-lg-6 {
    order: 1;
  }
  .instruments .top .row.align-items-center .col-lg-6 + .col-lg-6 {
    margin: 0 auto;
    order: 0;
  }
  .section-header.instruments {
    max-width: 500px;
    margin-top: 50px;
  }
  .section-header.instruments .section-header__title span {
    display: block;
  }
  .instruments .list.instruments .list__item .animate {
    width: 70%;
  }
  .section-header.about {
    max-width: 500px;
    margin: 0 auto;
  }
  .divider .animation.about .animation-2 {
    top: -40px;
  }
  .horizontal .list.video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .horizontal .list.video .list__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  .horizontal .list.video .circle {
    position: static;
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
    font-size: 24px;
    margin-right: auto;
  }
}
@media screen and (max-width: 575.98px) {
  body {
    font-size: 13px;
    line-height: 21px;
  }
  .hero.copy-trade .bottom .btn-green .text-container,
  .btn-base .text-container {
    height: 24px;
  }
  .section-header {
    margin-bottom: 30px;
  }
  .section-header .section-header__text .section-header .section-header__title {
    margin-bottom: 12px;
  }
  .section-header .section-header__title {
    font-size: 24px;
    line-height: normal;
  }
  .header.copy-trade .navigation {
    align-items: center;
  }
  .hero.copy-trade .bottom,
  .hero.copy-trade .top .container-fluid {
    display: block;
  }
  .hero.copy-trade .top .inner {
    display: none;
  }
  .section-title.copy-trade > .inner .letter-user {
    width: 12vw;
  }
  .hero.copy-trade .bottom .text {
    font-size: 13px;
  }
  .hero.copy-trade .top .row.align-items-center {
    flex-wrap: wrap;
  }
  .hero.copy-trade .top .section-title.copy-trade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero.copy-trade .top .section-title.copy-trade .inner {
    display: flex;
  }
  .section-title.copy-trade {
    margin-top: 0;
  }
  .hero.copy-trade .hero-image {
    left: 0;
  }
  .hero.copy-trade .hero-image .badge.rounded,
  .hero.copy-trade .hero-image .hero-man {
    display: block;
  }
  .hero.copy-trade .top {
    padding-bottom: 0;
  }
  .hero.copy-trade .hero-image .badge.rounded {
    top: 20%;
    left: 100%;
    font-size: clamp(0.625rem, 0.3113rem + 1.5686vw, 0.875rem);
    padding: 4% 6%;
    z-index: 1;
  }
  .hero.copy-trade .hero-image .hero-man {
    left: 54%;
    z-index: 5;
  }
  .hero.copy-trade .bottom .inner {
    width: 100%;
  }
  .hero.copy-trade .bottom {
    padding: 15px;
    border-radius: 0px 0px 30px 30px;
  }
  .hero.copy-trade .bottom .btn-green {
    font-size: 16px;
    line-height: normal;
    padding: 10px 30px;
  }
  .hero.copy-trade .bottom .btn-green .text-container {
    height: 30px;
  }
  .hero.copy-trade .bottom .btn-green .text-container span {
    line-height: 30px;
  }
  .hero.copy-trade .bottom .inner::before {
    right: 0;
    width: 40px;
  }
  .hero.copy-trade .top .row.align-items-center {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hero.copy-trade .top {
    padding-top: 0;
  }
  .hero.copy-trade .hero-image .video-container {
    width: 50vw;
  }
  .hero.copy-trade .hero-image .video-container .video {
    border-top-right-radius: 5vw;
    border-top-left-radius: 5vw;
    width: 45vw;
  }
  .awards.top {
    padding-top: 10px;
  }
  .section-header.awards .section-header__title {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .awards.top .awards-benefits .icon-container {
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
  }
  .awards.top .awards-benefits .icon-container svg {
    width: 40px;
    height: 40px;
  }
  .awards.top .awards-benefits .title {
    font-size: 24px;
  }
  .splide__list.awards .splide__slide {
    flex-basis: auto;
  }
  .splide.awards .splide__pagination {
    bottom: -70px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: -moz-max-content;
    width: max-content;
    border-radius: 100px;
    padding: 10px;
    background: var(--white);
  }
  .splide.awards .splide__pagination__page.is-active {
    background: #0440E4;
  }
  .awards.bottom {
    padding: 50px 5px 100px 5px;
  }
  .about {
    border-radius: 20px;
  }
  .instruments .bottom,
  .margin-inline {
    margin-left: 5px;
    margin-right: 5px;
  }
  .divider .animation.about::before {
    top: 7%;
    left: -50px;
  }
  .easy-start,
  .wrapper.blue,
  .easy-start.section-padding.xxl,
  .section-padding.xxl {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .easy-start.section-padding.xxl {
    padding-bottom: 0;
  }
  .promo-video,
  .easy-start,
  .promo-video .video-container,
  .promo-video .video-container video {
    border-radius: 20px;
  }
  .easy-start .section-title {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 0;
  }
  .top-choose.top {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-header.about .sign,
  .list.instruments .list__item .animate .title,
  .section-header.top-choose .section-header__title {
    font-size: 20px;
  }
  .top-choose.bottom .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 190px);
  }
  .top-choose.bottom .grid .grid__item .title {
    font-size: 20px;
  }
  .top-choose.bottom .grid .grid__item:last-child {
    align-items: flex-start;
    justify-content: center;
  }
  .top-choose.bottom .grid .grid__item .img-container {
    width: 600px;
    height: 500px;
  }
  .horizontal .list.video .list__item .video {
    order: 0;
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  .horizontal .list.video .list__item .section-header {
    order: 1;
  }
  .horizontal .list.video .list__item:nth-child(1) {
    padding-left: 0;
  }
  .horizontal {
    padding-left: 0;
    padding-right: 0;
    margin-left: unset;
    margin-right: unset;
  }
  .horizontal .list.video .circle {
    margin: 0 auto;
  }
  .horizontal .list.video .list__item:not(:last-child) {
    padding-left: 10px;
  }
  .list.instruments .list__item.strategies .animate,
  .list.instruments .list__item.markets .animate,
  .list.instruments .list__item.tools .animate {
    width: 100%;
  }
  .list.instruments .bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
  .list.instruments .list__item,
  .list.instruments .list__item .inner {
    padding: 50% 10px 10px 10px;
  }
  .top-choose.bottom .grid .grid__item:last-child {
    align-items: center;
    justify-content: center;
  }
  .hero.copy-trade .bottom .inner > .btn-green {
    padding: 15px 30px;
  }
  .hero.copy-trade .bottom .inner > .inner::before {
    left: unset;
    right: -20px;
    width: 40px;
  }
  .easy-start {
    background: var(--white);
    padding-left: 10px;
    padding-right: 10px;
  }
  .easy-start .container-fluid .section-title {
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .section-title.copy-trade,
  .section-title.copy-trade .inner,
  .section-title.copy-trade .text {
    font-size: 9.2vw;
  }
  .section-title.copy-trade .inner .letter {
    width: 17vw;
  }
  .section-title.copy-trade .text .letter {
    width: 18vw;
  }
  .hero.copy-trade .top .section-title.copy-trade {
    margin-top: 50px;
  }
  .easy-start .container-fluid .section-title {
    font-size: 24px;
  }
  .list.instruments .list__item:hover .animate,
  .list.instruments .list__item .animate {
    transform: unset;
  }
}/*# sourceMappingURL=copy-trade.css.map */