@import "../templates/template.scss";

.banner {
    overflow: hidden;
}


.banner .inner.is-active {
    max-height: 0px;
    min-height: 10px;
    margin-bottom: 0;
}

.banner .inner {
    overflow: hidden;
    position: relative;

    max-height: 200px;
    min-height: 10px;

    margin-bottom: 10px;
    border-radius: 20px;
    transition: all 0.5s var(--transition) 0.2s;
}


.banner .banner-control {
    display: none;
}

.banner .banner-control .toggle .text {
    text-transform: capitalize;
}


.banner .inner .banner-carousel {
    list-style: none;
    padding: 0;
    margin: 0;

    transform: translateY(0);
    transition: transform 0.5s var(--transition) .2s;
}

.banner .inner .banner-carousel.is-hide {
    transform: translateY(100%);
}


@media screen and (max-width:575.98px) {
    .banner .banner-control {
        display: block;
        margin-bottom: 10px;
    }

    .account-options .banner-control {
        display: none;
    }

    .banner .banner-control {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner .banner-control .toggle {
        margin-right: 10px;
    }


    .banner .inner {
        max-height: 100%;
    }
}