@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/montserrat-latin-700-normal.woff2") format("woff2"), url("/fonts/montserrat-latin-700-normal.woff") format("woff");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/montserrat-latin-300-italic.woff2") format("woff2"), url("/fonts/montserrat-latin-300-italic.woff") format("woff");
}
:root {
  --font-size-50-24: clamp(1.5rem, -0.0234rem + 4.0625vw, 3.125rem);
  --font-size-30-18: clamp(1.125rem, 0.4219rem + 1.875vw, 1.875rem);
  --font-size-20-14: clamp(0.875rem, 0.5234rem + 0.9375vw, 1.25rem);
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.813rem;
  --font-size-11: 0.688rem;
  --font-size-10: 0.625rem;
  --line-height-30: 30px;
  --line-height-24: 24px;
  --line-height-21: 21px;
  --blue-500: #42a5f5;
  --blue-900: #008DFF;
  --blue-100: #7F9FF;
  --green-500: #4cd7ab;
  --violet-900: #430F96;
  --violet-500: #6C25DE;
  --red-100: #ffdddc;
  --red-500: #e53935;
  --white: #fff;
  --dark-50: #F0F0F0;
  --dark-100: #bfbfbf;
  --dark-300: #c9c9c9;
  --dark-400: #939393;
  --dark-500: #49494a;
  --dark-600: #363636;
  --dark-800: #232323;
  --transition: cubic-bezier(0.68, -0.55, 0.265, 1.5);
  --ease-out: cubic-bezier(0.16,1,0.3,1);
  --ease-out-slow: cubic-bezier(0.33,1,0.68,1);
  --ease-in: cubic-bezier(0.12,0,0.39,0);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --border-radius-30: 30px;
  --border-radius-24: 24px;
  --border-radius-15: 15px;
  --padding-card-30: 30px;
  --padding-card-20: 20px;
  --padding-card-15: 15px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-30);
  font-weight: 400;
  color: var(--dark-600);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  color: var(--dark-500);
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list,
.list-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-base:hover, .btn-base {
  text-decoration: none;
}
.btn-base:focus, .btn-base:active, .btn-base:hover {
  text-decoration: none;
}

.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

.section-padding {
  padding: 30px 0;
}

.padding-inline {
  padding-left: 10px;
  padding-right: 10px;
}

.blue-500 {
  color: var(--blue-500);
}

.white {
  background: var(--white);
}

.btn-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}
.btn-button:hover, .btn-button:focus {
  border: none;
  background: none;
  box-shadow: none;
}

.btn-base {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 100px;
  background: transparent;
  z-index: 1;
}

.rounded {
  border-radius: 100px;
}

.btn-base::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 19px;
  transform: translateX(-120%);
  transform-origin: left bottom;
  transition: transform 0.5s var(--transition);
  z-index: -1;
}

.btn-base:hover::before {
  transform: translateX(0%);
}

.btn-base:hover {
  transition: all 0.5s var(--transition) 0.2s;
}

.btn-base .text-container {
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  height: var(--line-height-30);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-base .text-container span {
  transition: color, transform 0.5s var(--transition) 0.1s;
}

.btn-base:hover .text-container span {
  transform: translateY(-100%);
}

.btn-outline {
  border: 1px solid var(--blue-500);
  border-radius: 100px;
  transition: color border 0.5s var(--transition) 0.2s;
}

.btn-outline.dark {
  border: 1px solid var(--dark-500);
  color: var(--dark-500);
}

.btn-outline.dark:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.dark::before {
  background: var(--blue-500);
}

.btn-outline.blue {
  border: 1px solid var(--dark-500);
  color: var(--dark-500);
}

.btn-outline.blue::before {
  background: var(--blue-500);
}

.btn-outline.blue:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.white {
  border: 1px solid var(--white);
  color: var(--white);
}

.btn-outline.white::before {
  background: var(--white);
}

.btn-outline.white:hover {
  color: var(--dark-800);
  border: 1px solid var(--white);
}

.btn-green {
  color: var(--white);
  background: #4cd7ab;
}

.btn-green:hover {
  border: 1px solid var(--red-500);
  color: var(--white);
}

.btn-green::before {
  background: var(--red-500);
}

.btn-blue {
  color: var(--white);
  background: var(--blue-500);
}

.btn-blue:hover {
  border: 1px solid var(--green-500);
  color: var(--white);
}

.btn-blue::before {
  background: var(--green-500);
}

.btn-base-xs {
  padding: 8px 15px;
}

.btn-base-md {
  padding: 10px 20px;
}

.btn-base-lg {
  padding: 10px 30px;
}

.btn-base-lg {
  padding: 10px 40px;
}

.list,
.list-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-features__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.list-features__title {
  font-size: 18px;
}

.main-container {
  display: flex;
  min-height: 100%;
  background: #363636;
  flex-direction: row;
  align-items: stretch;
}

.content-container {
  background: #fff;
  flex: 1 1 0;
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  flex-direction: column;
}

.sidebar {
  background: var(--grey100);
  box-shadow: inset -3px 0 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.hide {
  width: 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #fff;
  width: 100%;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.border-bottom {
  border-bottom: 1px solid var(--dark-50);
}

.account-dashboard {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .sidebar.hide {
    width: 0;
  }
  .sidebar {
    width: 0;
  }
  .toogle {
    display: none;
  }
}
.banner {
  overflow: hidden;
}

.banner .inner.is-active {
  max-height: 0px;
  min-height: 10px;
  margin-bottom: 0;
}

.banner .inner {
  overflow: hidden;
  position: relative;
  max-height: 200px;
  min-height: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: all 0.5s var(--transition) 0.2s;
}

.banner .banner-control {
  display: none;
}

.banner .banner-control .toggle .text {
  text-transform: capitalize;
}

.banner .inner .banner-carousel {
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateY(0);
  transition: transform 0.5s var(--transition) 0.2s;
}

.banner .inner .banner-carousel.is-hide {
  transform: translateY(100%);
}

@media screen and (max-width: 575.98px) {
  .banner .banner-control {
    display: block;
    margin-bottom: 10px;
  }
  .account-options .banner-control {
    display: none;
  }
  .banner .banner-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .banner-control .toggle {
    margin-right: 10px;
  }
  .banner .inner {
    max-height: 100%;
  }
}/*# sourceMappingURL=banner.css.map */