@import "../templates/template.scss";

.content.dashboard {
    padding: 0;
}

.account-dashboard {
    background: #f7f9ff;
}
 

.accounts-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.accounts-options .buttons-container {
    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;
}


.accounts-options .buttons-container .btn-outline.dark:hover,
.accounts-options .buttons-container .btn-outline.blue:hover {
    color: var(--blue-500);
    border: 1px solid #E9F5FF;
    transition: all .5s var(--transition) 0s;

}


.accounts-options .buttons-container .btn-outline.dark:before,
.accounts-options .buttons-container .btn-outline.blue::before {
    background: #E9F5FF;
}



.accounts-options .banner-control {
    display: flex;
    align-items: center;
}

.accounts-options .banner-control .text {
    font-size: 13px;
    line-height: 21px;
    color: var(--dark-400);
    word-break: break-all;
    white-space: nowrap;
    text-transform: capitalize;
}


.accounts-options .banner-control .toggle {
    margin-right: 20px;
}

.account-menu .link:hover .icon-arrow {
    transform: translateX(10px);
}



.grid.account-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @extend %list-defaults;
}


@media screen and (max-width: 2560px) {
    .grid.account-item {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1880px) {
    .grid.account-item {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media screen and (max-width:1399.98px) {
    .grid.account-item {
        grid-template-columns: repeat(auto-fit, minmax(371px, 1fr));
    }
}


@media screen and (max-width: 991.98px) {


    .btn-base {
        font-size: 14px;
    }

    .btn-base .text-container {
        height: 24px;
    }


    .account-feedback {
        @include center-flex('ver');
        align-items: flex-start;
        padding: 50px 0;
    }

    .account-feedback .inner {
        flex-direction: column;
    }

    .account-feedback .list.account-feedback {
        flex: 1;
    }

    .account-feedback .list.account-feedback,
    .account-feedback .buttons-container {
        flex-direction: row;
    }

    .account-feedback .list.account-feedback,
    .account-feedback .inner .title {
        margin-bottom: 30px;
    }


    .account-feedback .buttons-container,
    .account-feedback .list.account-feedback .list__item {
        align-items: center;
    }


    .account-feedback .buttons-container .btn-green,
    .account-feedback .list.account-feedback .title {
        margin-bottom: 0;
    }

    .account-feedback .inner .title {
        margin-right: 0
    }


    .account-feedback .buttons-container .btn-green {
        margin-right: 10px;
    }
}


@media screen and (max-width:575.98px) {
    .section-padding {
        padding: 50px 0;
    }

    .section-header {
        justify-content: space-between;
    }

    .section-header .link {
        margin-right: 15px;
    }

    .section-header .title,
    .account-feedback .list.account-feedback {
        margin-right: 0;
    }


    .account-feedback .list.account-feedback .link {
        font-size: 13px;
        padding: 8px 20px;
    }


    .account-feedback .list.account-feedback .text {
        font-size: 11px;
        padding: 4px 20px;
    }


    .accounts-options .banner-control {
        display: none;
    }

    .accounts-options .buttons-container {
        margin-bottom: 0;
        text-align: center;
    }



}