@import "../templates/template.scss";

.content.dashboard {
    padding: 0;
}


.accounts-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.accounts-options .buttons-container {
    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;
}


.accounts-options .buttons-container .btn-outline.dark:hover,
.accounts-options .buttons-container .btn-outline.blue:hover {
    color: var(--blue-500);
    border: 1px solid #E9F5FF;
    transition: all .5s var(--transition) 0s;

}


.accounts-options .buttons-container .btn-outline.dark:before,
.accounts-options .buttons-container .btn-outline.blue::before {
    background: #E9F5FF;
}



.accounts-options .banner-control {
    display: flex;
    align-items: center;
}

.accounts-options .banner-control .text {
    font-size: 13px;
    line-height: 21px;
    color: var(--dark-400);
    word-break: break-all;
    white-space: nowrap;
}


.accounts-options .banner-control .toggle {
    margin-right: 20px;
}




.account-dashboard {
    background: #f7f9ff;
}

.list.label {
    align-items: baseline;
    justify-content: unset;
}

.list.label .list__item {
    display: flex;
    align-items: baseline;
}

.list.label .list__item:nth-child(odd) {
    margin-right: 6px;
}

.list.label .list__item:nth-child(-n + 2) {
    margin-bottom: 6px;
}

.label__text {
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    text-transform: capitalize;

    padding: 5px 12px;
    border-radius: 100px;
    background: transparent;
}

.label__text.label-cashback {
    color: #523108;
    background: #ffcd8f;
}

.label__text.label-copy-trade {
    color: #0b5941;
    background: #a8ffe3;
}

.label__text.label-ib {
    color: var(--white);
    background: var(--dark-800);
}

.account-card,
.account-card.create-new {
    overflow: hidden;
    @extend %border-radius-30;
    background: var(--white);
}

.account-card:hover {
    transform: translateY(-10px);
    box-shadow: 30px 30px 60px 0px rgba(9, 19, 69, 0.08);
}

.account-card.allpips-trading .account-card__header {
    background: var(--violet-900);
}

.account-card.allpips-demo .account-card__header {
    background: var(--violet-500);
}

.account-card.mt4-trading .account-card__header {
    background: #008dff;
}

.account-card.mt4-demo .account-card__header {
    background: var(--blue-500);
}

.account-card__header {
    @include center-flex("hor");
    justify-content: space-between;

    color: var(--white);
    padding: 28px 28px 15px 28px;
}

.account-card .account-card__header .profile {
    margin-right: 6px;
}

.list.label {
    flex: 1 0 175px;
}

.account-card__header .name,
.btn-button.account-setting .icon-setting {
    margin-bottom: 6px;
}

.account-card__header .name {
    font-size: 18px;
}

.account-card__header .number {
    font-size: 14px;
}

.account-card__body {
    padding: 28px;
    margin-bottom: 0;
}

.account-card.create-new .account-card__body .text span,
.account-card.create-new .account-card__body .text {
    display: block;
}

.account-card .btn-button.account-setting .icon-setting {
    transform: rotate(90deg);
    transition: transform 0.5s var(--transition) 0.1s;
}

.account-card .btn-button.account-setting:hover .icon-setting {
    transform: rotate(180deg);
}

.btn-button.account-setting {
    @include center-flex("ver");
    @include center-flex("hor");
    text-align: center;
    color: var(--white);
    text-transform: capitalize;
}

.btn-button.account-setting .text {
    display: block;
    font-size: 14px;
    text-align: center;
}

.account-card .account-card__body .inner {
    display: flex;
    justify-content: space-between;
}

.account-card .menu .list__item:not(:last-child),
.account-card .account-card__body .inner:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-50);
    margin-bottom: 13px;
}

.account-card .account-card__body .title,
.account-card .account-card__body .text {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-500);
    margin-bottom: 0;
}

.account-card .account-card__body .title {
    font-weight: 400;
}

.account-card .account-card__body .text {
    text-transform: capitalize;
}

.grid.account-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @extend %list-defaults;
}


.account-card {
    transform: translateY(0);
    box-shadow: 0 0 0 transparent;
    transition: all 0.3s var(--transition);
}






.account-card .menu.is-active {
    border-radius: 0%;
    transform: translateY(0%);
}

.account-card .menu {
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 110%;

    border-radius: 50%;
    background: var(--white);

    transform-origin: bottom center;
    transform: translateY(100%);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.2) 0.2s;

    z-index: 5;
}


.account-card .menu .account-card__header {
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
}

.account-card .menu .account-card__body {
    overflow: hidden;
    padding: 20px;
}


.account-card .menu .profile {
    @include center-flex("ver");
    align-items: flex-start;
    flex: 1 0 auto;
}

.account-card .menu .btn-button.account-setting {
    flex: 0 0 50px;
    width: 50px;
    height: auto;
    color: var(--white);
}

.list.manage-menu {
    justify-content: space-between;
}


.list.manage-menu .list__item {
    flex-basis: calc(100% / 2);
}




.list.manage-menu .link {
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: none;
    }
}

.list.manage-menu .link .text {
    font-size: 14px;

    color: var(--dark-800);
    line-height: 1.5;
    text-transform: capitalize;
}


.list.manage-menu .link .icon {
    margin-right: 10px;
}

.section-header .link .icon-arrow,
.list.manage-menu .link .icon-arrow {
    opacity: 0;
    transform: translateX(-5px);
    transition: opacity, transform 0.4s var(--transition) -0.15s;
}

.section-header .link:hover .icon-arrow,
.list.manage-menu .link:hover .icon-arrow {
    opacity: 1;
    transform: translateX(10px);
}

.account-menu .link:hover .icon-arrow {
    transform: translateX(10px);
}

.account-card.create-new {
    @include center-flex("ver");
    padding: 28px;
}

.account-card.create-new .account-card__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex: 1 0 70px;

    color: var(--dark-800);
    border-bottom: 1px solid var(--dark-50);
}

.account-card.create-new .account-card__header,
.account-card.create-new .account-card__body {
    padding: 0;
}

.account-card.create-new .title {
    font-size: 20px;
}

.account-card.create-new .text {
    color: var(--dark-300);
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
}

@keyframes pulse {
    from {
        opacity: 0.3;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}

.account-card.create-new .link {
    position: relative;
    overflow: hidden;
    @include center-flex("hor");
    flex-grow: 1;

    z-index: 1;
}

.account-card.create-new .link::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    display: inline-block;
    content: "";

    width: 30px;
    height: 30px;

    opacity: 0.3;
    border-radius: 50%;
    background: var(--blue-500);
    animation: 2s pulse ease-in 0s infinite;
}

.account-card.create-new .link:hover::before {
    animation: none;
}

.account-card.create-new .link:hover .icon-plus .vertical,
.account-card.create-new .link:hover .icon-plus .horizontal {
    transform: translate(-50%, -50%);
}

.account-card.create-new .account-card__body .icon-plus {
    overflow: hidden;
    @extend %absolute-center;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: transparent;

    z-index: 2;
}

.account-card.create-new .icon-plus span {
    border-radius: 5px;
    background: #363853;
    z-index: 4;
}

.account-card.create-new .account-card__body::before,
.account-card.create-new .icon-plus span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.account-card.create-new .icon-plus .horizontal {
    transform: translate(-280%, -50%);

    width: 25px;
    height: 5px;

    transition: transform 0.5s var(--transition);
}

.account-card.create-new .icon-plus .vertical {
    transform: translate(-50%, -280%);

    width: 5px;
    height: 25px;

    transition: transform 0.5s var(--transition) 0.2s;
}

.account-card.create-new .account-card__body {
    position: relative;
    @include center-flex("ver");

    flex: 5 0 auto;
    flex-basis: 240px;
}

.account-card.create-new .account-card__body::before {
    transform: translateX(70%);

    display: inline-block;
    content: "";

    width: 72px;
    height: 120px;

    background: url("/icons/arrow-curve.svg");

    @include background-image(no-repeat, center, center, contain, contain);

    pointer-events: none;
    z-index: 1;
}



.section-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.section-header .title {
    font-size: 20px;
    color: var(--dark-800);
    margin-right: 10%;
}

.section-header .title,
.section-header .link {
    text-transform: capitalize;
}

.section-header .link {
    color: var(--red-500);
    line-height: 1.5;
}

.account-card__header {
    display: flex;
    justify-content: space-between;
}

.account-card__header .profile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.account-card__header .profile .number {
    line-height: 1.1;
}

.account-card__header .btn-button.account-setting,
.account-card__header .dropdown .btn-button {
    flex: unset;
}


.dropdown.program {
    background: #fdd2d2;
    border-radius: 100px;
    margin-left: 10px;
}


.dropdown.program .btn-button {
    position: relative;
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    color: #ff3728;

    text-transform: capitalize;
    padding: 5px 10px;
}

.dropdown.program .btn-button .indicator {
    position: absolute;
    top: -15px;
    left: 0;

    width: 25px;
    height: 25px;

    text-align: center;
    color: var(--white);
    border-radius: 50%;
    background: #ff3728;
    border: 1px solid var(--white);
}

.dropdown.program .dropdown-menu {
    opacity: 0;
    top: -50%;


    border: unset;
    border-radius: 20px;
    padding: 20px;

    transition: all 0.4s var(--transition) 0s;
    pointer-events: none;

    z-index: 10;
}

.dropdown.program.open .dropdown-menu {
    opacity: 1;
    top: 100%;
    box-shadow: -16px 20px 50px -10px rgba(9, 19, 69, 0.3);
}

.dropdown.program .dropdown-menu .dropdown-menu__item:not(:last-child) {
    margin-bottom: 6px;
}

.dropdown.program .dropdown-menu .dropdown-menu__item span {
    font-size: 13px;
}

.account-feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;

    padding: 16px 0;
}



// .account-feedback .inner .title {
//     font-size: 18px;
//     margin-right: 30px;
//     display: inherit;
//     flex: 0 0 125px;
// }

.account-feedback .inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.account-feedback .list.account-feedback .text,
.account-feedback .list.account-feedback .title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.account-feedback .list.account-feedback .text {
    display: inline-block;
    padding: 4px 30px;
    background: var(--white);
    border-radius: 100px;
}

// .account-feedback .list.account-feedback {
//     margin-right: 30px;
//     flex: 0 1 440px;
// }

.account-feedback .list.account-feedback .list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: calc(100% / 2 - 10px);

}

.account-feedback .list.account-feedback .list__item:nth-child(-n + 2) {
    margin-bottom: 10px;
}

.account-feedback .list.account-feedback .link {
    flex: 0 0 120px;
}

// .account-feedback .buttons-container {
//     display: inherit;
//     flex: 1 1 auto;
// }


.account-feedback .buttons-container .btn-green {
    margin-right: 10px;
}

.account-feedback .list.account-feedback .list__item.dot::before {
    @include center-flex('hor');
    flex: 0 0 10px;


    content: "";
    width: 10px;
    height: 10px;

    border-radius: 50%;
    margin-right: 10px;
}

.account-feedback .list.account-feedback .list__item.allpips-live::before {
    background: var(--violet-900);
}

.account-feedback .list.account-feedback .list__item.allpips-demo::before {
    background: var(--violet-500);
}

.account-feedback .list.account-feedback .list__item.mt4-live::before {
    background: var(--blue-900);
}

.account-feedback .list.account-feedback .list__item.mt4-demo::before {
    background: var(--blue-500);
}




@media screen and (max-width: 2560px) {
    .grid.account-item {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1880px) {
    .grid.account-item {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width:1399.98px) {
    .grid.account-item {
        grid-template-columns: repeat(auto-fit, minmax(371px, 1fr));
    }
}




@media screen and (max-width: 1198.98px) {
    .account-feedback .buttons-container {
        @include center-flex('ver');
    }

    .account-feedback .buttons-container .btn-green {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .account-feedback .buttons-container {
        padding-top: 0;
        padding-bottom: 0;
    }

}

@media screen and (max-width: 991.98px) {


    .btn-base {
        font-size: 14px;
    }

    .btn-base .text-container {
        height: 24px;
    }


    .account-feedback {
        @include center-flex('ver');
        align-items: flex-start;
        padding: 50px 0;
    }

    .account-feedback .inner {
        flex-direction: column;
    }

    .account-feedback .list.account-feedback {
        flex: 1;
    }

    .account-feedback .list.account-feedback,
    .account-feedback .buttons-container {
        flex-direction: row;
    }

    .account-feedback .list.account-feedback,
    .account-feedback .inner .title {
        margin-bottom: 30px;
    }


    .account-feedback .buttons-container,
    .account-feedback .list.account-feedback .list__item {
        align-items: center;
    }


    .account-feedback .buttons-container .btn-green,
    .account-feedback .list.account-feedback .title {
        margin-bottom: 0;
    }

    .account-feedback .inner .title {
        margin-right: 0
    }


    .account-feedback .buttons-container .btn-green {
        margin-right: 10px;
    }
}


@media screen and (max-width:575.98px) {
    .section-padding {
        padding: 50px 0;
    }

    .section-header {
        justify-content: space-between;
    }

    .section-header .link {
        margin-right: 15px;
    }

    .section-header .title,
    .account-feedback .list.account-feedback {
        margin-right: 0;
    }


    .account-feedback .list.account-feedback .link {
        flex: 1 1 auto;
        font-size: 13px;
    }


    .account-feedback .list.account-feedback .text {
        font-size: 11px;
        padding: 4px 20px;
    }

}