 @import '../helpers/helpers.scss';

 .banner.eth-staking {
    @include center-flex('hor');
     min-height: 200px;
     border-radius: 12px;
     background: #F1F9FF;
 }

 .banner.eth-staking #staking-banner {
    @include center-flex('hor');
 }

 
 @media (max-width: 575.98px) {
   .banner.eth-staking {
      min-height: 100px;
      align-items: flex-end;
      margin-bottom: 30px;
   }
 }
 