.section-header.eth-staking {
    margin-bottom: 2.865vw;
}

.section-header.eth-staking .section-header__title {
    font-size: 60px;
    line-height: 1.2;
    color: #0F2E4B;
    margin-bottom: 1.302vw;
}

.section-header.eth-staking .section-header__text {
    line-height: 1.5;
    color: #415B75;
    max-width: 282px;
    margin-inline: auto;
}

.section-header.eth-staking .section-header__text::first-letter {
    text-transform: capitalize;
}



@media screen and (min-width:1441px) {
    .section-header.eth-staking {
        margin-bottom: 55px;
    }
    
    .section-header.eth-staking .section-header__title {
        margin-bottom: 24px;
    }
    
}


@media screen and (max-width: 991.98px) {
    .section-header.eth-staking .section-header__title {
        font-size: 40px;
    }
}



@media (max-width: 574px) {
    .section-header.eth-staking {
        margin-bottom: 28px;
    }

    .section-header.eth-staking .section-header__title {
        font-size: 36px;
        margin-bottom: 12px;
    }
}