.dropdown.network-select .dropdown-menu {
  border-radius: 7px;
  background: var(--white);
  box-shadow: 18px 228px 64px 0px rgba(112, 112, 112, 0),
    11px 146px 59px 0px rgba(112, 112, 112, 0.01),
    6px 82px 49px 0px rgba(112, 112, 112, 0.05),
    3px 37px 37px 0px rgba(112, 112, 112, 0.09),
    1px 9px 20px 0px rgba(112, 112, 112, 0.1);
}

.dropdown.network-select .dropdown-menu {
  width: 100%;
}

.dropdown.network-select .dropdown-menu {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}


.dropdown.network-select .dropdown-menu::-webkit-scrollbar {
  width: .5vw;
  background: rgb(107, 124, 148, .2);
  border-radius: 10px;
}


.dropdown.network-select .dropdown-menu::-webkit-scrollbar:hover {
  background: rgb(107, 124, 148, .25);
}

.dropdown.network-select .dropdown-menu::-webkit-scrollbar-thumb {
  background: #8da0b9;
  border-radius: 10px;
}

.dropdown.network-select .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #6b7c94;
}




.dropdown.network-select .dropdown-item.border-bottom {
  border-bottom: 1px solid rgba(196, 203, 212, 0.34);
}

.dropdown.network-select .dropdown-item .link:hover {
  background: #f3faff;
}

.dropdown.network-select .dropdown-item .link:focus {
  outline-color: var(--blue500);
  border-radius: 7px;
}

.dropdown.network-select .btn-default {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: hsla(215, 16%, 50%, 0.4);
  border-radius: 7px;
  border: 1px solid transparent;
  background: transparent;
  padding: 12px 20px;
}

.dropdown.network-select.open .dropdown-toggle.btn-default:hover,
.dropdown.network-select.open .dropdown-toggle.btn-default:focus,
.dropdown.network-select.open .dropdown-toggle.btn-default:active,
.dropdown.network-select .btn-default:focus,
.dropdown.network-select .btn-default:hover,
.dropdown.network-select .btn-default:active {
  color: hsla(215, 16%, 50%, 0.4);
  border: 1px solid transparent;
  outline: none;
  background: none;
  box-shadow: none;
  
}
 
.dropdown.network-select .link,
.dropdown.network-select .dropdown-item .link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  outline: 1px solid transparent;
}

.dropdown.network-select .link {
  padding: 0;
}


.dropdown.network-select .dropdown-menu{
  display: none;
}

.dropdown.network-select .dropdown-menu.is-open {
  display: block;
}
