.list.radio-buttons .inner label {
  text-transform: capitalize;
}

.banner.eth-staking {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-radius: 12px;
  background: #F1F9FF;
}

.banner.eth-staking #staking-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header.eth-staking {
  margin-bottom: 2.865vw;
}

.section-header.eth-staking .section-header__title {
  font-size: 60px;
  line-height: 1.2;
  color: #0F2E4B;
  margin-bottom: 1.302vw;
}

.section-header.eth-staking .section-header__text {
  line-height: 1.5;
  color: #415B75;
  max-width: 282px;
  margin-inline: auto;
}

.section-header.eth-staking .section-header__text::first-letter {
  text-transform: capitalize;
}

.list.radio-buttons .inner label {
  text-transform: capitalize;
}

.form.eth-staking {
  width: 100%;
}

.form.eth-staking .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form.eth-staking .inner .button-amount {
  position: absolute;
  top: calc(50% + 9px);
  right: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: unset;
}

.form.eth-staking .inner .button-amount:active,
.form.eth-staking .inner .button-amount:hover,
.form.eth-staking .inner .button-amount:focus {
  outline: none;
  border: unset;
}

.form.eth-staking .inner .button-amount svg {
  position: absolute;
}

.form.eth-staking .inner,
.form.eth-staking .inner .input {
  width: 100%;
}

.form.eth-staking label {
  font-family: "Roboto-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #113252;
  margin-bottom: 9px;
}

.dropdown.network-select .dropdown-menu {
  border-radius: 7px;
  background: var(--white);
  box-shadow: 18px 228px 64px 0px rgba(112, 112, 112, 0), 11px 146px 59px 0px rgba(112, 112, 112, 0.01), 6px 82px 49px 0px rgba(112, 112, 112, 0.05), 3px 37px 37px 0px rgba(112, 112, 112, 0.09), 1px 9px 20px 0px rgba(112, 112, 112, 0.1);
}

.dropdown.network-select .dropdown-menu,
.dropdown.network-select > button {
  width: 100%;
}

.dropdown.network-select > button:active,
.dropdown.network-select .dropdown-item:hover {
  background: #f3faff;
}

.dropdown.network-select .dropdown-item.border-bottom {
  border-bottom: 1px solid rgba(196, 203, 212, 0.34);
}

.dropdown.network-select .dropdown-item .link {
  padding: 15px;
}

.dropdown.network-select > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  border: 1px solid #6B7C94;
  background: transparent;
  padding: 12px 20px;
}

.dropdown.network-select > button:focus {
  outline-offset: inherit;
  outline-color: var(--blue500);
  box-shadow: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input {
  color: #113252;
  border-radius: 7px;
  border: 1px solid #6B7C94;
  padding: 12px 20px;
}

.input:-moz-placeholder-shown {
  border-color: #6B7C94;
}

.input:placeholder-shown {
  border-color: #6B7C94;
}

.input:focus {
  outline-color: var(--blue500);
}

.input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: hsla(215, 16%, 50%, 0.4);
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: hsla(215, 16%, 50%, 0.4);
}

.input::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: red;
}

.list.radio-buttons .inner label {
  text-transform: capitalize;
}

.list.radio-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1.563vw;
}

.list.radio-buttons .inner {
  display: inherit;
  flex-basis: calc(33.3333333333% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list.radio-buttons .inner label,
.buttons-container + .btn-outline-blue {
  width: 100%;
}

.list.radio-buttons .inner label,
.buttons-container + .btn-outline-blue {
  border-radius: 6px;
}

.list.radio-buttons .inner label {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #6B7C94;
  border: 1px solid #A1AAB8;
  padding: 0.781vw;
}

.list.radio-buttons .inner label:hover {
  color: #113252;
  background: var(--blue50);
  border-color: var(--blue50);
}

.list.radio-buttons .inner input {
  display: none;
}

.list.radio-buttons .inner input:checked + label {
  color: var(--white);
  background: var(--blue500);
  border-color: transparent;
}

.buttons-container + .btn-blue:hover {
  background: var(--blue700);
}

.eth-staking {
  margin-bottom: 5.208vw;
}

.eth-staking.section-padding {
  padding-top: 20px;
}/*# sourceMappingURL=main.css.map */