@import './__banner.scss';
@import './__header.scss';
@import './__form.scss';
@import './__select.scss';
@import '../input/input.scss';
@import './__input-search';
@import './__toggle-action.scss';
@import './__radio-buttons.scss';

.eth-staking {
    margin-bottom: 5.208vw;
}

.eth-staking.section-padding {
    padding-top: 20px;
}


@media screen and (min-width:1441px) {
    .eth-staking {
        margin-bottom: 100px;
    }
}