.list.radio-buttons .list__item label {
  text-transform: capitalize;
}

.banner.eth-staking {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-radius: 12px;
  background: #F1F9FF;
}

.banner.eth-staking #staking-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 575.98px) {
  .banner.eth-staking {
    min-height: 100px;
    align-items: flex-end;
    margin-bottom: 30px;
  }
}
.section-header.eth-staking {
  margin-bottom: 2.865vw;
}

.section-header.eth-staking .section-header__title {
  font-size: 60px;
  line-height: 1.2;
  color: #0F2E4B;
  margin-bottom: 1.302vw;
}

.section-header.eth-staking .section-header__text {
  line-height: 1.5;
  color: #415B75;
  max-width: 282px;
  margin-inline: auto;
}

.section-header.eth-staking .section-header__text::first-letter {
  text-transform: capitalize;
}

@media screen and (min-width: 1441px) {
  .section-header.eth-staking {
    margin-bottom: 55px;
  }
  .section-header.eth-staking .section-header__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991.98px) {
  .section-header.eth-staking .section-header__title {
    font-size: 40px;
  }
}
@media (max-width: 574px) {
  .section-header.eth-staking {
    margin-bottom: 28px;
  }
  .section-header.eth-staking .section-header__title {
    font-size: 36px;
    margin-bottom: 12px;
  }
}
.list.radio-buttons .list__item label {
  text-transform: capitalize;
}

.form.eth-staking {
  margin-bottom: 0;
}

.form.eth-staking,
.form.eth-staking .inner,
.form.eth-staking .inner .input {
  width: 100%;
}

.form.eth-staking > .inner,
.form.eth-staking > .inner + .inner {
  margin-bottom: 18px;
}

.form.eth-staking .inner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form.eth-staking .inner .button-amount {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: unset;
  box-shadow: unset;
  padding: 3px;
}

.form.eth-staking .inner .button-amount:active,
.form.eth-staking .inner .button-amount:hover,
.form.eth-staking .inner .button-amount:focus {
  outline: none;
  border: unset;
  background: transparent;
  box-shadow: unset;
}

.form.eth-staking .inner .button-amount svg {
  position: absolute;
  width: 30px;
  height: 30px;
}

.form.eth-staking .inner .button-amount .icon.is-open {
  display: block;
}

.form.eth-staking .inner .button-amount .icon {
  display: none;
}

.form.eth-staking label {
  font-family: "Roboto-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #113252;
  margin-bottom: 9px;
}

@media (max-width: 575.98px) {
  .form.eth-staking .inner label {
    font-size: 11px;
  }
  .form.eth-staking > .inner,
  .form.eth-staking > .inner + .inner {
    margin-bottom: 17px;
  }
  .form.eth-staking .buttons-container {
    margin-bottom: 20px;
  }
  .form.eth-staking .inner .button-amount {
    top: 23px;
    width: 40px;
    height: 40px;
  }
}
.dropdown.network-select .dropdown-menu {
  border-radius: 7px;
  background: var(--white);
  box-shadow: 18px 228px 64px 0px rgba(112, 112, 112, 0), 11px 146px 59px 0px rgba(112, 112, 112, 0.01), 6px 82px 49px 0px rgba(112, 112, 112, 0.05), 3px 37px 37px 0px rgba(112, 112, 112, 0.09), 1px 9px 20px 0px rgba(112, 112, 112, 0.1);
}

.dropdown.network-select .dropdown-menu {
  width: 100%;
}

.dropdown.network-select .dropdown-menu {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}

.dropdown.network-select .dropdown-menu::-webkit-scrollbar {
  width: 0.5vw;
  background: rgba(107, 124, 148, 0.2);
  border-radius: 10px;
}

.dropdown.network-select .dropdown-menu::-webkit-scrollbar:hover {
  background: rgba(107, 124, 148, 0.25);
}

.dropdown.network-select .dropdown-menu::-webkit-scrollbar-thumb {
  background: #8da0b9;
  border-radius: 10px;
}

.dropdown.network-select .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #6b7c94;
}

.dropdown.network-select .dropdown-item.border-bottom {
  border-bottom: 1px solid rgba(196, 203, 212, 0.34);
}

.dropdown.network-select .dropdown-item .link:hover {
  background: #f3faff;
}

.dropdown.network-select .dropdown-item .link:focus {
  outline-color: var(--blue500);
  border-radius: 7px;
}

.dropdown.network-select .btn-default {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: hsla(215, 16%, 50%, 0.4);
  border-radius: 7px;
  border: 1px solid transparent;
  background: transparent;
  padding: 12px 20px;
}

.dropdown.network-select.open .dropdown-toggle.btn-default:hover,
.dropdown.network-select.open .dropdown-toggle.btn-default:focus,
.dropdown.network-select.open .dropdown-toggle.btn-default:active,
.dropdown.network-select .btn-default:focus,
.dropdown.network-select .btn-default:hover,
.dropdown.network-select .btn-default:active {
  color: hsla(215, 16%, 50%, 0.4);
  border: 1px solid transparent;
  outline: none;
  background: none;
  box-shadow: none;
}

.dropdown.network-select .link,
.dropdown.network-select .dropdown-item .link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  outline: 1px solid transparent;
}

.dropdown.network-select .link {
  padding: 0;
}

.dropdown.network-select .dropdown-menu {
  display: none;
}

.dropdown.network-select .dropdown-menu.is-open {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input {
  color: #113252;
  border-radius: 7px;
  border: 1px solid #6B7C94;
  padding: 12px 20px;
}

.input:-moz-placeholder-shown {
  border-color: #6B7C94;
}

.input:placeholder-shown {
  border-color: #6B7C94;
}

.input:focus {
  outline-color: var(--blue500);
}

.input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: hsla(215, 16%, 50%, 0.4);
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: hsla(215, 16%, 50%, 0.4);
}

@media (max-width: 575.98px) {
  .input::-moz-placeholder {
    font-size: 13px;
  }
  .input::placeholder {
    font-size: 13px;
  }
}
.dropdown.network-select .inner.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown.network-select .inner.search label {
  padding: 10px;
  margin-bottom: 0;
}

.dropdown.network-select .inner.search input {
  width: 100%;
  padding: 12px 50px 12px 20px;
  border: 1px solid transparent;
}

.dropdown.network-select .inner.search input:focus,
.dropdown.network-select .inner.search input:hover {
  background: none;
  border: 1px solid transparent;
  outline: none;
}

.dropdown.network-select {
  display: flex;
  align-items: flex-start;
  border-radius: 7px;
  border: 1px solid #6B7C94;
  outline: 1px solid transparent;
}

.dropdown.network-select:focus-within {
  border-color: var(--blue500);
  outline-color: var(--blue500);
}

.list.radio-buttons .list__item label {
  text-transform: capitalize;
}

.list.radio-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1.563vw;
  gap: 12px;
}

.list.radio-buttons .list__item {
  display: inherit;
  flex-basis: calc(33.3333333333% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list.radio-buttons .list__item label,
.buttons-container + .btn-outline-blue {
  width: 100%;
}

.list.radio-buttons .list__item label,
.buttons-container + .btn-outline-blue {
  border-radius: 6px;
}

.list.radio-buttons .list__item label {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #6B7C94;
  border: 1px solid #A1AAB8;
  padding: 0.781vw;
}

.list.radio-buttons .list__item label:hover {
  color: #113252;
  background: var(--blue50);
  border-color: var(--blue50);
}

.list.radio-buttons .list__item input {
  display: none;
}

.list.radio-buttons .list__item input:checked + label {
  color: var(--white);
  background: var(--blue500);
  border-color: transparent;
}

.buttons-container + .btn-blue:hover {
  background: var(--blue700);
}

@media screen and (min-width: 1441px) {
  .list.radio-buttons .list__item label {
    padding: 11px;
  }
  .list.radio-buttons {
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .list.radio-buttons {
    margin-bottom: 10px;
    gap: 8px;
  }
  .list.radio-buttons .list__item label {
    font-size: 13px;
    padding: 7px 14px;
    margin: 0;
  }
  .list.radio-buttons .list__item {
    flex: 1 0 auto;
  }
}
.eth-staking.thank-you-page {
  margin-bottom: 0;
}

.section-header.eth-staking.thank-you-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.813vw;
}

.section-header.eth-staking.thank-you-page .section-header__text {
  max-width: 500px;
  margin-bottom: 2.083vw;
}

.section-header.eth-staking.thank-you-page .section-header__text + button {
  font-size: 16px;
  line-height: 1.5;
}

.section-header.eth-staking + .link {
  color: var(--blue500);
  text-decoration: underline;
}

.section-header.eth-staking + .link:hover {
  color: var(--blue700);
}

.section-header.eth-staking + .link:visited {
  color: var(--blue900);
}

.success-sircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #EBFFF1;
  margin-inline: auto;
  margin-bottom: 2.604vw;
  animation-name: scale;
  animation-duration: 0.7s;
  animation-timing-function: var(--ease-in-out-smooth);
}

.success-sircle svg {
  fill: var(--darkgreen);
}

@media (max-width: 575.98px) {
  .success-sircle {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
  .success-sircle svg {
    width: 40px;
    height: 40px;
  }
  .section-header.eth-staking.thank-you-page {
    margin-bottom: 50px;
  }
  .section-header.eth-staking.thank-you-page .section-header__title {
    font-size: 24px;
  }
  .section-header.eth-staking.thank-you-page .section-header__title,
  .section-header.eth-staking.thank-you-page .section-header__text {
    margin-bottom: 12px;
  }
  .section-header.eth-staking.thank-you-page .section-header__text + button {
    font-size: 13px;
  }
}
.eth-staking {
  margin-bottom: 5.208vw;
}

.eth-staking.section-padding {
  padding-top: 20px;
}

@media screen and (min-width: 1441px) {
  .eth-staking {
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=main.css.map */