input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }
 
 
.input {
    color: #113252;
    border-radius: 7px;
    border: 1px solid #6B7C94;
    padding: 12px 20px;
}

.input:placeholder-shown {
    border-color: #6B7C94;
}

.input:focus {
    outline-color: var(--blue500);
}

.input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    color: hsla(215, 16%, 50%, 0.4);
}
 


@media (max-width:575.98px) {
    .input::placeholder{
        font-size: 13px;
    }
}