.start {
    background: #F5F5F5;
}


.section-header.start {
    text-align: center;
}

.section-header.start .section-header__title span {
    display: inline-block;
}

.list-features.step {
    margin-bottom: 50px;
    counter-reset: step;
}



.list-features.step .list-features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-basis: calc(100% / 4 - 10px);
    text-align: center;

    @extend %padding-card-30;
    @extend %border-radius-30;
    background: var(--white);

    box-shadow: 17px 32px 60px 0px rgba(9, 19, 69, 0.08);
}

 

.list-features.step .list-features__header {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 160px;
    
    width: 100%;
    height: auto;

    margin-bottom: 20px;
}



.list-features.step .list-features__header::before {
    position: absolute;
    top: 30px;
    left: 30px;

    display: block;

    counter-increment: step;
    content: counter(step);

    color: var(--dark-800);
    font-family: "Roboto-bold", sans-serif;
    font-size: 40px;
    line-height: normal;
    font-weight: 600;
}


@keyframes progress {
    to {
        stroke-dashoffset: var(--target);
    }

}

.list-features.step .list-features__header .progress-circle {
    @extend %absolute-center;
}

.list-features.step .list-features__header .progress-circle>#circle {
    stroke-width: 5px;
    stroke: url('#Gradient');
    fill: none;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    stroke-linecap: round;
}


.list-features.step .list__item:not(:last-child) {
    margin-right: 10px;
}

.list-features.step .list-features__title {
    color: var(--dark-800);
    font-family: "Roboto-bold", sans-serif;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 15px;

    font-weight: 600;
}

.list-features.step .list-features__text {
    line-height: normal;
}


.list-features.step+.buttons-container {
    text-align: center;
}

.list-features.step+.buttons-container .btn-outline {
    padding: 15px 30px;
}


@media screen and (max-width: 1198px) {

    .list-features.step .list-features__item {
        flex-basis: calc(100% / 2 - 5px);
        padding: 20px;
    }

    .list-features.step .list-features__item:nth-child(-n + 2) {
        margin-bottom: 10px;
    }

    .list-features.step .list-features__title {
        font-size: 22px;
    }

    .list-features.step .list-features__text,
    .list-features.step .list-features__title {
        line-height: normal;
    }

    .list-features.step .list-features__text {
        font-size: 14px;
    }


}


@media screen and (max-width: 575.98px) {

    .list-features.step .list-features__item {
        flex-basis: 100%;
        padding: 25px;
        border-radius: 15px;
    }

    .list-features.step .list-features__item:nth-child(n + 1) {
        margin-bottom: 10px;
    }

    .list-features.step .list-features__title {
        font-size: 18px;
        margin-bottom: 9px;

    }

    .list-features.step .list-features__title,
    .list-features.step .list-features__text {
        line-height: normal;
    }


    .list-features.step .list-features__text {
        font-size: 13px;
    }

    .list-features.step {
        margin-bottom: 40px;
    }

    .section-header.start .section-header__title {
        font-size: 24px;
        margin-bottom: 18px;
        line-height: normal;
    }

    .section-header.start .section-header__text {
        font-size: 13px;
        line-height: normal;
    }

    .list-features.step+.buttons-container .btn-base {
        padding: 12px 20px;
        font-size: 13px;
    }

}