 
.platforms {
    background: var(--blue300);
}

.section-header.platforms {
    display: block;
    background: transparent;
}

.section-header.platforms .section-header__title {
    font-size: 60px;
}

.section-header.platforms .section-header__title,
.section-header.platforms .section-header__text {
    color: var(--white);
}
 
.section-header.platforms .section-header__text {
    margin-bottom: 30px;
}




@media screen and (max-width: 1198px) {
    .section-header.platforms .section-header__title {
        font-size: 45px;
    }
}

@media screen and (max-width: 991.98px) {

    .section-header.platforms .section-header__title,
    .section-header.platforms .section-header__text {
        line-height: normal;
    }


    .section-header.platforms .section-header__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 767.98px) {
    .section-header.platforms  {
        margin-bottom: 30px;
    }

    .section-header.platforms .section-header__title {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 18px;
    }
 
    .platforms .align-items-center {
        flex-wrap: wrap;
        flex-direction: column;
    }

}