@import '../../templates/template.scss';

.hero.copy-trade {
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.hero.copy-trade .top {
    padding-top: 40px;
    background: url('../../img/copy-trade/icon.png'), url('../../img/copy-trade/hero-top-pips.png'), transparent;
    @include background-image(no-repeat, center, center, cover, cover);
}


.hero.copy-trade .container.xxl .top .background.top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100dvw;
    height: 100%;
    max-width: 1600px;

    border-radius: 30px;
    background: #DFF6FF;
    z-index: -1;
}

.hero.copy-trade .container.xxl .bottom .background.bottom {
    position: absolute;
    @extend %absolute-center;
    bottom: 0;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    width: 100dvw;
    height: 100%;
    max-width: 1600px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #06283D;
    z-index: -1;
}


.hero.copy-trade .bottom .inner>.animation {
    z-index: 3;
}