@import '../../templates/template.scss';
@import "../../main/section-header/section-header.scss";
@import '../../container/container.scss';

.copy-trading.main {
    background: #F5F5F5;
    padding: 0;
}


.hero.copy-trading {
    overflow: hidden;
    position: relative;
    background: #FBFBFB;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-header.hero-copy {
    flex: 1;
    margin-bottom: 0;
    padding-right: 15px;
}

.section-header.hero-copy .badge {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: fit-content;

    background: var(--white);
    margin-bottom: 40px;
    padding: 7px;
    box-shadow: 0px 21.915px 54.789px -9.131px rgba(26, 48, 158, 0.10);
}


.section-header.hero-copy .badge>svg {
    margin: 0 25px;
}


.section-header.hero-copy .section-header__title {
    font-family: "Montserrat", sans-serif;
    font-size: 4.514vw;
    line-height: 71px;

    font-weight: 500;
    text-transform: uppercase;
}

.section-header.hero-copy .section-header__title>span {
    display: flex;
    align-items: center;
}

.section-header.hero-copy .section-header__title>span svg {
    width: 7.153vw;
    height: 3.194vw;
}


.section-header.hero-copy .section-header__text {
    max-width: 500px;
    margin-bottom: 30px;
}

.section-header.hero-copy .section-header__text+.btn-outline.green {
    font-size: 18px;
    padding: 20px 30px;
}



.section-header.hero-copy+.inner.icons {
    display: block;
    flex: 1.2;
}

.section-header.hero-copy+.inner.icons>.icon {
    position: absolute;
    z-index: 3;
}

.section-header.hero-copy+.inner.icons>.icon-tesla {
    top: 50%;
    right: 0;
}

.section-header.hero-copy+.inner.icons>.icon-nasdaq {
    bottom: -50px;
    right: 10%;
}

.section-header.hero-copy+.inner.icons>.icon-amazon {
    left: 0;
    bottom: -50px;
}

.section-header.hero-copy+.inner.icons>.icon-google {
    top: -50px;
    left: 50%;
}

.section-header.hero-copy+.inner.icons>.trade {
    display: none;

    bottom: -120px;
    left: 35%;
    filter: drop-shadow(30px 30px 30px rgba(108, 130, 238, 0.2));

    z-index: 5;
}


.img-container.copy.page {
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    border-radius: 71px;
    background: url('../../../img/copy-trade/hero-img-pips.png'), linear-gradient(201deg, #E3F3FF -24.18%, #42A5F5 173.43%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 70px;
}




.hero.copy-trading .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container.copy.page .phone-frame .inner > .video.copy {
    display: block;
}


.img-container.copy-trading>.badge svg {
    margin-right: 15px;
}


.img-container.copy.page .phone-frame {
    width: 42%;
    height: 100%;
    margin-left: 7%;
}


.img-container.copy.page .phone-frame .inner {
    top: 0.781vw;
    width: 90%;

    border-top-right-radius: 1.927vw;
    border-top-left-radius: 1.927vw;
}


.img-container.copy.page .trader {
    right: 7%;
    left: unset;
    height: calc(100% - 70px);
}

@media screen and (min-width:1920px) {

    .img-container.copy-trading .phone-frame {
        width: 444px;
        height: 692px;
    }

    .img-container.copy-trading .phone-frame .inner {
        top: 27px;
        width: 100%;
    }

    .section-header.hero-copy .section-header__title>span svg {
        width: 103px;
        height: 46px;
    }


    .img-container.copy-trading .phone-frame .inner video {
        width: 410px;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;
    }

    .section-header.hero-copy .section-header__title {
        font-size: 70px;
    }

    .hero.copy-trading {
        padding-bottom: 200px;
    }

    .section-header.hero-copy+.inner.icons>.trade {
        display: block;
    }


}

@media screen and (max-width:1198.98px) {
    .section-header.hero-copy .section-header__title {
        font-size: 4.167vw;
        line-height: 5.843vw;
    }



}

@media screen and (max-width:991.98px) {
    .section-header.hero-copy .section-header__text+.btn-outline.green {
        font-size: 16px;
        padding: 15px 30px;
    }

    .section-header.hero-copy .badge {
        margin-bottom: 30px;
    }

    .section-header.hero-copy .section-header__title {
        font-size: 5vw;
    }



    .section-header.hero-copy+.inner.icons {
        flex: .8;
    }

    .section-header.hero-copy+.inner.icons>.img-container.copy.page {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-header.hero-copy+.inner.icons>.icon {
        width: auto;
        height: 17%;
    }

    .img-container.copy.page .phone-frame {
        margin-left: 0;
    }

    .section-header.hero-copy+.inner.icons>.icon-amazon {
        bottom: 0;
        height: 13%;
    }

}

@media screen and (max-width:767.98px) {
    .hero.copy-trading .inner {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hero.copy-trading {
        padding-top: 60px;
    }

    .section-header.hero-copy,
    .section-header.hero-copy+.img-container.copy-trading {
        width: 100%;
    }

    .section-header.hero-copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        padding: 0;
    }

    .section-header.hero-copy {
        margin-bottom: 30px;
    }

    .section-header.hero-copy+.inner.icons {
        flex: 1;
        width: 100%;
    }


    .section-header.hero-copy+.inner.icons .icon-google {
        left: unset;
        right: 7%;
    }

    .img-container.copy.page .phone-frame .inner {
        left: 50.5%;
        top: 1.514vw;
    }

    .img-container.copy.page .phone-frame {
        width: 60%;
    }

    .img-container.copy.page .phone-frame .inner .video {
        border-top-left-radius: 3.027vw;
        border-top-right-radius: 3.027vw;
    }


    .section-header.hero-copy+.inner.icons>.img-container.copy.page {
        align-items: flex-start;
        justify-content: flex-start;
    }


    .img-container.copy.page .trader {
        display: block;
        left: 40%;
    }

}

@media screen and (max-width:575.98px) {
    .hero.copy-trading {
        padding-top: 50px;
    }

    .section-header.hero-copy {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }

    .section-header.hero-copy .section-header__title {
        font-size: 30px;
        line-height: 40px;
    }

    .section-header.hero-copy .section-header__title>span svg {
        width: 48px;
        height: 28px;
    }

    .section-header.hero-copy+.img-container.copy.page {
        flex-basis: 100%;
        border-radius: 24px;
    }


    .section-header.hero-copy+.img-container.copy.page {
        padding-top: 50px;
    }

    .img-container.copy.page .phone-frame,
    .img-container.copy-trading .phone-frame .inner,
    .section-header.hero-copy+.inner.icons .icon-tesla,
    .img-container.copy-trading .phone-frame .inner video {
        display: none;
    }

    .section-header.hero-copy+.inner.icons>.img-container.copy.page {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img-container.copy.page .trader {
        position: static;
        top: unset;
        left: unset;
        right: unset;
    }

    .img-container.copy.page {
        border-radius: 28px;
    }


    .section-header.hero-copy+.inner.icons .icon-google {
        top: 30px;
    }

    .section-header.hero-copy+.inner.icons .icon-nasdaq {
        bottom: 30px;
        right: 10px;
    }


    .section-header.hero-copy+.inner.icons .icon-amazon {
        bottom: -50px;
        height: 10%;

    }

    .list.header .list__item .img-container video {
        display: none;
    }


}