@import '../../templates/template.scss';
@import '../../keyframes/keyframes.scss';
@import '../../main/section-header/section-header.scss';


.section-header.hero {
    display: block;
    margin-top: 7%;
    margin-bottom: 9%
}

.section-header.hero .section-header__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: clamp(1.5rem, -1.6575rem + 8.7861vi, 6.25rem);
}

.section-header.hero .section-header__title .icon,
.section-header.hero .section-header__title .icon::before {
    border-radius: 50%;
}


.section-header.hero .section-header__title .icon {
    position: relative;

    flex: 0 0 93px;

    width: 93px;
    height: 93px;

    margin-right: 10px;
    background: transparent;
    z-index: 2;
}

 
.section-header.hero .section-header__title .icon::after {
    content: '';

    width: 65%;
    height: 65%;

    background: transparent;
    border: 1px solid var(--blue-500);
    animation: online-pulse 2s infinite;

    z-index: 2;
}

.section-header.hero .buttons-container .btn-blue,
.section-header.hero .section-header__title .icon,
.section-header.hero .section-header__title .icon::before,
.section-header.hero .section-header__title .icon::after {
    @include center-flex("hor");
}

.section-header.hero .buttons-container .btn-blue,
.section-header.hero .section-header__title .icon,
.section-header.hero .section-header__title .icon::before,
.section-header.hero .section-header__title .icon::after {
    border-radius: 50%;
}

.section-header.hero .section-header__title .icon::before,
.section-header.hero .section-header__title .icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section-header.hero .section-header__title .icon::before {
    content: "";

    width: 60px;
    height: 60px;

    @extend %blue-500-bg;
    z-index: -1;
}


.section-header.hero .section-header__title,
.section-header.hero .section-header__text {
    margin-bottom: 40px;
}

.section-header.hero .section-header__text {
    font-size: clamp(1.0625rem, 0.0357rem + 2.8571vi, 2.25rem);
    max-width: 350px;
}

.section-header.hero .buttons-container {
    display: flex;
    align-items: center;
}

.section-header.hero .buttons-container .btn-outline.blue {
    font-size: 18px;
    padding: 20px 60px;
    margin-right: 10px;
}

.section-header.hero .buttons-container .btn-blue {
    width: 71px;
    height: 71px;

    @extend %blue-500-bg;
}



 


.hero.main {
    background: url('../../../img/main-page/hero-lg.png') var(--grey100);
    background-repeat: no-repeat;
    background-position: right 50px top -20px;
    background-size: 60% auto;

    padding-top: 70px;
    padding-bottom: 20px;
}


.hero.main .inner.margin-inline {
    margin-left: 20px;
    margin-right: 20px;
}

.hero.main .inner {
    padding: 50px 0;
    border-radius: 30px;
    background: var(--white);
}



 

@media screen and (min-width: 1441px) {
    .hero.main {
        background: url('../../../img/main-page/hero-lg.png') var(--grey100);
        background-repeat: no-repeat;
        background-position: left 70% top -50px;
        background-size: 1000px;

        padding-top: 70px;
        padding-bottom: 20px;
    }

    .section-header.hero {
        margin-top: 7%;
        margin-bottom: 150px;
    }

}


@media screen and (max-width: 1198px) {
    .hero.main {
        background: url('../../../img/main-page/hero-lg.png') var(--grey100);
        background-repeat: no-repeat;
        background-position: right 20px top 60px;
        background-size: 60% auto;

        padding-top: 70px;
        padding-bottom: 20px;

    }
}

@media screen and (max-width:991.98px) {

    .section-header.hero {
        margin-top: 0;
    }

    .section-header.hero .section-header__title {
        font-size: 50px;
    }

    .section-header.hero .section-header__text,
    .section-header.hero .section-header__title {
        margin-bottom: 18px;
    }

    .section-header.hero .section-header__text {
        font-size: 20px;
        line-height: normal;
        max-width: 300px;
    }


    .section-header.hero .section-header__title .icon {
        flex: 0 0 50px;
        height: 50px;
        width: 50px;
    }

    .section-header.hero .section-header__title .icon::after {
        width: 100%;
        height: 100%;
    }


    .hero.main {
        background: url(../../../img/main-page/hero-lg.png) var(--grey100);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 55% auto;
        padding-top: 70px;
        padding-bottom: 20px;

    }


}


@media screen and (max-width: 767.98px) {
    .hero.main {
        background: url(''), var(--grey100);

        padding-top: 70px;
        padding-bottom: 20px;
    }

    .section-header.hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-header.hero .section-header__title {
        max-width: 420px;
        margin: 0 auto;
    }

    .section-header.hero .section-header__text {
        max-width: 410px;
        margin-top: 18px;
    }

    .hero-devices {
        margin-bottom: 30px;
    }

}


@media screen and (max-width:575.98px) {
    .hero.main {
        padding-top: 10px;
        padding-bottom: 50px;
    }
 
    .section-header.hero .buttons-container .btn-outline.blue {
        padding: 10px 44px;
        font-size: 14px;
    }

    .section-header.hero .section-header__title {
        font-size: clamp(2.25rem, 1.4657rem + 3.9216vi, 2.875rem);
        line-height: normal;
    }
 

    .section-header.hero .section-header__title .icon::after,
    .section-header.hero .section-header__title .icon::before {
        width: 30px;
        height: 30px;
    }
    
    .section-header.hero .section-header__text {
        font-size: 17px;
        line-height: normal;
    }
 
    .section-header.hero .buttons-container .btn-blue {
        width: 52px;
        height: 52px;
    }

    .section-header.hero .buttons-container .btn-blue svg {
        width: 9px;
        height: 9px;
    }

    .section-header.hero .section-header__title {
        max-width: 260px;
        margin: 0 auto;
    }

    
    .hero.main .inner.margin-inline {
        margin-left: 8px;
        margin-right: 8px;
    }

    .hero.main .inner {
        padding: 30px;
    }
}