@font-face {
  font-family: "Roboto-light", sans-serif;
  src: url("/fonts/roboto-latin-100-normal.woff2") format("woff2"), url("/fonts/roboto-latin-100-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-normal", sans-serif;
  src: url("/fonts/roboto-latin-400-normal.woff2") format("woff2"), url("/fonts/roboto-latin-400-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-bold", sans-serif;
  src: url("/fonts/roboto-latin-700-normal.woff2") format("woff2"), url("/fonts/roboto-latin-700-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-medium", sans-serif;
  src: url("/fonts/roboto-latin-500-normal.woff2") format("woff2"), url("/fonts/roboto-latin-500-normal.woff") format("woff");
}
@font-face {
  font-family: "Roboto-italic", sans-serif;
  src: url("/fonts/roboto-latin-500-italic.woff2") format("woff2"), url("/fonts/roboto-latin-500-italic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/montserrat-latin-700-normal.woff2") format("woff2"), url("/fonts/montserrat-latin-700-normal.woff") format("woff");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/montserrat-latin-300-italic.woff2") format("woff2"), url("/fonts/montserrat-latin-300-italic.woff") format("woff");
}
:root {
  --font-size-50-24: clamp(1.5rem, -0.0234rem + 4.0625vw, 3.125rem);
  --font-size-30-18: clamp(1.125rem, 0.4219rem + 1.875vw, 1.875rem);
  --font-size-20-14: clamp(0.875rem, 0.5234rem + 0.9375vw, 1.25rem);
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.813rem;
  --font-size-11: 0.688rem;
  --font-size-10: 0.625rem;
  --line-height-30: 30px;
  --line-height-24: 24px;
  --line-height-21: 21px;
  --blue-500: #42a5f5;
  --blue-900: #008DFF;
  --blue-100: #7F9FF;
  --green-500: #4cd7ab;
  --violet-900: #430F96;
  --violet-500: #6C25DE;
  --red-100: #ffdddc;
  --red-500: #e53935;
  --white: #fff;
  --dark-50: #F0F0F0;
  --dark-100: #bfbfbf;
  --dark-300: #c9c9c9;
  --dark-400: #939393;
  --dark-500: #49494a;
  --dark-600: #363636;
  --dark-800: #232323;
  --blue50: #e3f2fd;
  --blue100: #bbdefb;
  --blue200: #90caf9;
  --blue300: #64b5f6;
  --blue400: #42a5f5;
  --blue500: #2196f3;
  --blue600: #1e88e5;
  --blue700: #1976d2;
  --blue800: #1565c0;
  --blue900: #0d47a1;
  --bluea100: #82b1ff;
  --bluea200: #448aff;
  --bluea400: #2979ff;
  --bluea700: #2962ff;
  --grey50: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --red50: #ffebee;
  --red100: #ffcdd2;
  --red200: #ef9a9a;
  --red300: #e57373;
  --red400: #ef5350;
  --red500: #f44336;
  --red600: #e53935;
  --red700: #d32f2f;
  --red800: #c62828;
  --red900: #b71c1c;
  --reda100: #ff8a80;
  --redea200: #ff5252;
  --reda400: #ff1744;
  --reda700: #d50000;
  --green: #1FD09B;
  --darkgreen: #00B27D;
  --transition: cubic-bezier(0.68, -0.55, 0.265, 1.5);
  --ease-out: cubic-bezier(0.16,1,0.3,1);
  --ease-out-slow: cubic-bezier(0.33,1,0.68,1);
  --ease-in: cubic-bezier(0.12,0,0.39,0);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --border-radius-100: 100px;
  --border-radius-30: 30px;
  --border-radius-24: 24px;
  --border-radius-15: 15px;
  --padding-card-30: 30px;
  --padding-card-20: 20px;
  --padding-card-15: 15px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Roboto-normal", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-30);
  font-weight: 400;
  color: var(--dark-600);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  color: var(--dark-500);
}

h1,
h2,
h3 {
  font-family: "Roboto-bold", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list,
.list-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-base:hover, .btn-base {
  text-decoration: none;
}
.btn-base:focus, .btn-base:active, .btn-base:hover {
  text-decoration: none;
}

.section-header.hero .buttons-container .btn-blue, .section-header.hero .section-header__title .icon::before {
  background: var(--blue-500);
}

.list-features__title {
  text-transform: capitalize;
}

.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

.text-italic {
  font-family: "Roboto-italic", sans-serif;
}

.section-padding {
  padding: 70px 0;
}

.padding-inline {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-inline {
  margin-left: 10px;
  margin-right: 10px;
}

.blue-500 {
  color: var(--blue-500);
}

.white {
  background: var(--white);
}

.btn-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}
.btn-button:hover, .btn-button:focus {
  border: none;
  background: none;
  box-shadow: none;
}

.btn-base {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 100px;
  z-index: 1;
}

.rounded {
  border-radius: 100px;
}

.btn-base::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transform-origin: left bottom;
  transition: transform 0.6s var(--transition) 0s;
  z-index: -1;
}

.btn-base.btn-outline.fill::before {
  transform: translateX(-120%);
}

.btn-base.btn-outline.fill:hover::before {
  transform: translateX(0%);
}

.btn-base::before {
  transform: translateX(0%);
}

.btn-base:hover::before {
  transform: translateX(-120%);
}

.btn-base:hover {
  transition: background-color 0.2s var(--transition) 0s, transform 0.6s var(--transition) 0.2s;
}

.btn-base .text-container {
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  height: var(--line-height-30);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-base .text-container span {
  transition: color 0.5s var(--transition) 0.1s, transform 0.5s var(--transition) 0s;
}

.btn-base:hover .text-container span {
  transform: translateY(-100%);
}

.btn-outline {
  border: 1px solid var(--blue-500);
  border-radius: 100px;
  transition: color border 0.5s var(--transition) 0.4s;
}

.btn-outline.dark {
  border: 1px solid var(--dark-500);
  color: var(--dark-500);
}

.btn-outline.dark:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.dark::before {
  background: var(--blue-500);
}

.btn-outline.fill.blue {
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
}

.btn-outline.fill.blue::before {
  background: var(--blue-500);
}

.btn-outline.fill.blue:hover {
  color: var(--white);
  border: 1px solid var(--blue-500);
}

.btn-outline.blue {
  border: 1px solid var(--blue-500);
  color: var(--white);
}

.btn-outline.blue::before {
  background: var(--blue-500);
}

.btn-outline.blue:hover {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}

.btn-outline.green {
  border: 1px solid var(--green-500);
  color: var(--white);
}

.btn-outline.green::before {
  background: var(--green-500);
}

.btn-outline.green:hover {
  color: var(--green-500);
  border: 1px solid var(--green-500);
}

.btn-outline.white {
  border: 1px solid var(--white);
  color: var(--dark-800);
}

.btn-outline.white::before {
  background: var(--white);
}

.btn-outline.white:hover {
  color: var(--dark-800);
  border: 1px solid var(--white);
}

.btn-blue {
  color: var(--white);
  background: var(--blue-500);
}

.btn-blue:focus,
.btn-blue:hover {
  color: var(--white);
  background: var(--green-500);
}

.btn-base-xs {
  padding: 8px 15px;
}

.btn-base-md {
  padding: 10px 20px;
}

.btn-base-lg {
  padding: 10px 30px;
}

.btn-base-xxl {
  padding: 10px 40px;
}

.list,
.list-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-features__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.list-features__title {
  font-size: 18px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  min-height: 100%;
  background: #363636;
  flex-direction: row;
  align-items: stretch;
}

.content-container {
  background: #fff;
  flex: 1 1 0;
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  flex-direction: column;
}

.sidebar {
  background: var(--grey100);
  box-shadow: inset -3px 0 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.hide {
  width: 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #fff;
  width: 100%;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.border-bottom {
  border-bottom: 1px solid var(--dark-50);
}

.account-dashboard {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .sidebar.hide {
    width: 0;
  }
  .sidebar {
    width: 0;
  }
  .toogle {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .section-padding {
    padding: 50px 0;
  }
}
@keyframes pulse {
  from {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
@keyframes online-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
  70.1%, to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes fly-smooth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(80px) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forward {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(320px) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes rotate-forward-small {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(100px) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
.section-header.hero {
  margin-top: 7%;
  margin-bottom: 9%;
}

.section-header.hero .section-header__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: clamp(1.5rem, -1.6575rem + 8.7861vi, 6.25rem);
  line-height: normal;
}

.section-header.hero .section-header__title .icon,
.section-header.hero .section-header__title .icon::before {
  border-radius: 50%;
}

.section-header.hero .section-header__title .icon {
  position: relative;
  flex: 0 0 93px;
  width: 93px;
  height: 93px;
  margin-right: 10px;
  background: transparent;
  z-index: 2;
}

.section-header.hero .section-header__title .icon::after {
  content: "";
  width: 65%;
  height: 65%;
  background: transparent;
  border: 1px solid var(--blue-500);
  animation: online-pulse 2s infinite;
  z-index: 2;
}

.section-header.hero .buttons-container .btn-blue,
.section-header.hero .section-header__title .icon,
.section-header.hero .section-header__title .icon::before,
.section-header.hero .section-header__title .icon::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header.hero .buttons-container .btn-blue,
.section-header.hero .section-header__title .icon,
.section-header.hero .section-header__title .icon::before,
.section-header.hero .section-header__title .icon::after {
  border-radius: 50%;
}

.section-header.hero .section-header__title .icon::before,
.section-header.hero .section-header__title .icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-header.hero .section-header__title .icon::before {
  content: "";
  width: 60px;
  height: 60px;
  z-index: -1;
}

.section-header.hero .section-header__title,
.section-header.hero .section-header__text {
  margin-bottom: 40px;
}

.section-header.hero .section-header__text {
  font-size: clamp(1.0625rem, 0.0357rem + 2.8571vi, 2.25rem);
  max-width: 350px;
}

.section-header.hero .buttons-container {
  display: flex;
  align-items: center;
}

.section-header.hero .buttons-container .btn-outline.blue {
  font-size: 18px;
  padding: 20px 60px;
  margin-right: 10px;
}

.section-header.hero .buttons-container .btn-blue {
  width: 71px;
  height: 71px;
}

.hero.main {
  background: url("../../../img/main-page/hero-lg.png") var(--grey100);
  background-repeat: no-repeat;
  background-position: right 50px top -20px;
  background-size: 60% auto;
  padding-top: 70px;
  padding-bottom: 20px;
}

.hero.main .inner.margin-inline {
  margin-left: 20px;
  margin-right: 20px;
}

.hero.main .inner {
  padding: 50px 0;
  border-radius: 30px;
  background: var(--white);
}

@media screen and (min-width: 1441px) {
  .hero.main {
    background: url("../../../img/main-page/hero-lg.png") var(--grey100);
    background-repeat: no-repeat;
    background-position: left 70% top -50px;
    background-size: 1000px;
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .section-header.hero {
    margin-top: 7%;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 1198px) {
  .hero.main {
    background: url("../../../img/main-page/hero-lg.png") var(--grey100);
    background-repeat: no-repeat;
    background-position: right 20px top 60px;
    background-size: 60% auto;
    padding-top: 70px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .section-header.hero {
    margin-top: 0;
  }
  .section-header.hero .section-header__title {
    font-size: 50px;
  }
  .section-header.hero .section-header__text,
  .section-header.hero .section-header__title {
    margin-bottom: 18px;
  }
  .section-header.hero .section-header__text {
    font-size: 20px;
    line-height: normal;
    max-width: 300px;
  }
  .section-header.hero .section-header__title .icon {
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
  }
  .section-header.hero .section-header__title .icon::after {
    width: 100%;
    height: 100%;
  }
  .hero.main {
    background: url(../../../img/main-page/hero-lg.png) var(--grey100);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 55% auto;
    padding-top: 70px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero.main {
    background: url(""), var(--grey100);
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .section-header.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-header.hero .section-header__title {
    max-width: 420px;
    margin: 0 auto;
  }
  .section-header.hero .section-header__text {
    max-width: 410px;
    margin-top: 18px;
  }
  .hero-devices {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 575.98px) {
  .hero.main {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .section-header.hero .buttons-container .btn-outline.blue {
    padding: 10px 44px;
    font-size: 14px;
  }
  .section-header.hero .section-header__title {
    font-size: clamp(2.25rem, 1.4657rem + 3.9216vi, 2.875rem);
    line-height: normal;
  }
  .section-header.hero .section-header__title .icon::after,
  .section-header.hero .section-header__title .icon::before {
    width: 30px;
    height: 30px;
  }
  .section-header.hero .section-header__text {
    font-size: 17px;
    line-height: normal;
  }
  .section-header.hero .buttons-container .btn-blue {
    width: 52px;
    height: 52px;
  }
  .section-header.hero .buttons-container .btn-blue svg {
    width: 9px;
    height: 9px;
  }
  .section-header.hero .section-header__title {
    max-width: 260px;
    margin: 0 auto;
  }
  .hero.main .inner.margin-inline {
    margin-left: 8px;
    margin-right: 8px;
  }
  .hero.main .inner {
    padding: 30px;
  }
}/*# sourceMappingURL=hero.css.map */