 .form-quick .inner>label {
     font-family: "Roboto-normal", sans-serif;
     font-weight: 400;
     margin-bottom: 0;
 }

 .hero.main .form-quick {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;

     max-width: 1160px;
 }

 .hero.main .form-quick .inner {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 7px;

     padding: 0;
 }


 .hero.main .form-quick .inner>label {
     flex: 1 1 230px;
 }



 .section-title.form {
     margin-bottom: 26px;
 }


 .form-quick .inner>label,
 .form-quick .inner>label input {
     position: relative;
     outline: none;
     border: 1px solid transparent;
 }

 .form-quick .inner>label input {
     width: 100%;
     padding: 15px 20px;
     background: #E9F5FF;
     border-radius: 100px;
 }

 .form-quick .inner>label input:focus {
     border: 1px solid var(--blue-500);
 }

 .form-quick .inner>label input::placeholder {
     font-size: 12px;
     color: #232323;
     line-height: normal;
     text-transform: capitalize;
 }

 .form-quick .buttons-container.form .btn-outline.green svg {
     margin-left: 10px;
 }


 .section-title.form {
     font-size: 24px;
     line-height: 1.5;
 }

 .form-quick .buttons-container.form .checkbox {
     display: flex;
     align-items: center;
     column-gap: 15px;
     margin-top: 10px;
 }


 .form-quick .buttons-container.form .checkbox__label {
     display: flex;
     align-items: center;
     column-gap: 10px;
     text-transform: capitalize;
 }

 .form-quick .buttons-container.form .checkbox {
     font-size: 12px;
     line-height: 1.3;
 }





 @media screen and (max-width: 1198px) {
     .hero.main .form-quick .inner label {
         flex: 1 1 230px;
     }
 }


 @media screen and (max-width: 991.98px) {

     .hero.main .form-quick .inner>label {
         flex: 1 1 150px;
     }

     .form-quick .inner label input {
         padding: 15px 20px;
     }

     .form-quick .buttons-container.form .btn-outline.green {
         padding: 15px 20px;
     }
 }


 @media screen and (max-width:767.98px) {}



 @media screen and (max-width:575.98px) {



     .hero.main .form-quick .checkbox {
         margin-bottom: 10px;
     }

     .hero.main .form-quick .inner {
         flex-direction: column;
         flex-basis: 100%;
         align-items: unset;
         justify-content: unset;
     }

     .hero.main .form-quick .inner>label {
         flex-basis: 100%;
     }

     .section-title.form {
         margin-bottom: 15px;
     }

     .hero.main .form-quick .inner {
         padding: 0;
     }


     .form-quick .buttons-container.form {
         display: flex;
         flex-direction: column;
         flex-basis: 100%;
     }


     .form-quick .buttons-container.form .checkbox .link {
         font-size: 10px;
         line-height: 10px;
         text-align: left;
     }


     .form-quick .buttons-container.form .checkbox {
         align-items: center;
         justify-content: center;
         width: fit-content;
         margin-inline: auto;
     }



     .section-header.form {
         display: block;
     }

     .section-header.form {
         text-align: center;
     }

     .section-header.form .section-header__title {
         font-size: 18px;
         margin-bottom: 18px;
         margin-right: 0;
     }


     .section-header.form .section-header__title,
     .section-header.form .section-header__text {
         line-height: normal;
     }

     .section-header.form .section-header__text {
         font-size: 13px;
         max-width: 100%;
     }

     .form-quick .inner>label input,
     .hero.main .form-quick .buttons-container.form .btn-outline.green {
         padding: 10px 20px;
     }


 }