 
.form-quick>label {
    font-family: "Roboto-normal", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

.form-quick>label,
.form-quick>label input {
    position: relative;
    outline: none;
    border: 1px solid transparent;
}

.form-quick>label input {
    width: 100%;
    padding: 13px 20px;
    background: #F5F5F5;
    border-radius: 100px;
}

.form-quick>label input:focus {
    border: 1px solid var(--blue-500);
}

.form-quick>label input::placeholder {
    font-size: 14px;
    color: var(--dark-300);
    line-height: normal;
    text-transform: capitalize;
}

.form-quick>.btn-outline.green svg {
    margin-left: 10px;
}

.hero.main .form-quick {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    gap: 5px;
}


.section-header.form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.section-header.form .section-header__title,
.section-header.form .section-header__text {
    line-height: normal;
}

.section-header.form .section-header__title {
    font-size: 2.813rem;
    margin-right: 30px;
    margin-bottom: 0;

}

.section-header.form .section-header__text {
    font-size: 24px;
}



@media screen and (max-width: 1198px) {

    .hero.main .form-quick {
        grid-template-rows: repeat(2, 60px);
    }
}


@media screen and (max-width: 991.98px) {

 

    .form-quick>label input {
        padding: 15px 20px;
    }

    .hero.main .form-quick .btn-outline.green {
        padding: 15px 20px;
    }
}


@media screen and (max-width:575.98px) {
    .section-header.form {
        display: block;
    }

    .section-header.form {
        text-align: center;
    }

    .section-header.form .section-header__title {
        font-size: 18px;
        margin-bottom: 18px;
        margin-right: 0;
    }
    

    .section-header.form .section-header__title,
    .section-header.form .section-header__text {
        line-height: normal;
    }

    .section-header.form .section-header__text {
        font-size: 13px;
        max-width: 100%;
    }

    .form-quick>label input,
    .hero.main .form-quick .btn-outline.green {
        padding: 10px 20px;
    }

    .hero.main .form-quick {
        grid-template-rows: 54px;
        gap: 5px;
    }

}