@import '../helpers/helpers.scss';

.label {
   display: inline-block;
   color: var(--dark-800);
   border: 1px solid var(--dark-800);
   @extend %border-radius-100;
   @extend %text-capitalize;
   background: transparent;
}

.label.xs {
    padding: 8px 13px;
}