.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header.copy-trade {
  padding: 30px 0;
  background: var(--white);
  box-shadow: 0px 4px 32.2px 0px rgba(0, 0, 0, 0.05);
}

.navigation.copy-trade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation.copy-trade > .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.list.nav-menu .list__item .link {
  font-size: 14px;
  padding: 0 16px;
  text-transform: capitalize;
}

@media screen and (max-width: 991.98px) {
  .list.nav-menu {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .header.copy-trade {
    padding: 15px 0;
  }
  .navigation.copy-trade > .logo {
    width: 100px;
    height: 50px;
  }
  .list.nav-menu + .btn-outline {
    padding: 8px 24px;
  }
}
.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.copy-trading.main {
  background: #F5F5F5;
  padding: 0;
}

.hero.copy-trading {
  overflow: hidden;
  position: relative;
  background: #FBFBFB;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-header.hero-copy {
  flex: 1;
  margin-bottom: 0;
  padding-right: 15px;
}

.section-header.hero-copy .badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--white);
  margin-bottom: 40px;
  padding: 7px;
  box-shadow: 0px 21.915px 54.789px -9.131px rgba(26, 48, 158, 0.1);
}

.section-header.hero-copy .badge > svg {
  margin: 0 25px;
}

.section-header.hero-copy .section-header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.514vw;
  line-height: 71px;
  font-weight: 500;
  text-transform: uppercase;
}

.section-header.hero-copy .section-header__title > span {
  display: flex;
  align-items: center;
}

.section-header.hero-copy .section-header__title > span svg {
  width: 7.153vw;
  height: 3.194vw;
}

.section-header.hero-copy .section-header__text {
  max-width: 500px;
  margin-bottom: 30px;
}

.section-header.hero-copy .section-header__text + .btn-outline.green {
  font-size: 18px;
  padding: 20px 30px;
}

.section-header.hero-copy + .inner.icons {
  display: block;
  flex: 1.2;
}

.section-header.hero-copy + .inner.icons > .icon {
  position: absolute;
  z-index: 3;
}

.section-header.hero-copy + .inner.icons > .icon-tesla {
  top: 50%;
  right: 0;
}

.section-header.hero-copy + .inner.icons > .icon-nasdaq {
  bottom: -50px;
  right: 10%;
}

.section-header.hero-copy + .inner.icons > .icon-amazon {
  left: 0;
  bottom: -50px;
}

.section-header.hero-copy + .inner.icons > .icon-google {
  top: -50px;
  left: 50%;
}

.section-header.hero-copy + .inner.icons > .trade {
  display: none;
  bottom: -120px;
  left: 35%;
  filter: drop-shadow(30px 30px 30px rgba(108, 130, 238, 0.2));
  z-index: 5;
}

.img-container.copy.page {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 71px;
  background: url("../../../img/copy-trade/hero-img-pips.png"), linear-gradient(201deg, #E3F3FF -24.18%, #42A5F5 173.43%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
}

.hero.copy-trading .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container.copy.page .phone-frame .inner > .video.copy {
  display: block;
}

.img-container.copy-trading > .badge svg {
  margin-right: 15px;
}

.img-container.copy.page .phone-frame {
  width: 42%;
  height: 100%;
  margin-left: 7%;
}

.img-container.copy.page .phone-frame .inner {
  top: 0.781vw;
  width: 90%;
  border-top-right-radius: 1.927vw;
  border-top-left-radius: 1.927vw;
}

.img-container.copy.page .trader {
  right: 7%;
  left: unset;
  height: calc(100% - 70px);
}

.parent {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.parent .content {
  display: flex;
  flex-direction: column;
  background: green;
  height: 200px;
  width: 100%;
  flex-grow: 1;
}

.parent .footer {
  background: var(--grey900);
  width: 100%;
  height: 100px;
}

@media screen and (min-width: 1920px) {
  .img-container.copy-trading .phone-frame {
    width: 444px;
    height: 692px;
  }
  .img-container.copy-trading .phone-frame .inner {
    top: 27px;
    width: 100%;
  }
  .section-header.hero-copy .section-header__title > span svg {
    width: 103px;
    height: 46px;
  }
  .img-container.copy-trading .phone-frame .inner video {
    width: 410px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
  }
  .section-header.hero-copy .section-header__title {
    font-size: 70px;
  }
  .hero.copy-trading {
    padding-bottom: 200px;
  }
  .section-header.hero-copy + .inner.icons > .trade {
    display: block;
  }
}
@media screen and (max-width: 1198.98px) {
  .section-header.hero-copy .section-header__title {
    font-size: 4.167vw;
    line-height: 5.843vw;
  }
}
@media screen and (max-width: 991.98px) {
  .section-header.hero-copy .section-header__text + .btn-outline.green {
    font-size: 16px;
    padding: 15px 30px;
  }
  .section-header.hero-copy .badge {
    margin-bottom: 30px;
  }
  .section-header.hero-copy .section-header__title {
    font-size: 5vw;
  }
  .section-header.hero-copy + .inner.icons {
    flex: 0.8;
  }
  .section-header.hero-copy + .inner.icons > .img-container.copy.page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-header.hero-copy + .inner.icons > .icon {
    width: auto;
    height: 17%;
  }
  .img-container.copy.page .phone-frame {
    margin-left: 0;
  }
  .section-header.hero-copy + .inner.icons > .icon-amazon {
    bottom: 0;
    height: 13%;
  }
}
@media screen and (max-width: 767.98px) {
  .hero.copy-trading .inner {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hero.copy-trading {
    padding-top: 60px;
  }
  .section-header.hero-copy,
  .section-header.hero-copy + .img-container.copy-trading {
    width: 100%;
  }
  .section-header.hero-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .section-header.hero-copy {
    margin-bottom: 30px;
  }
  .section-header.hero-copy + .inner.icons {
    flex: 1;
    width: 100%;
  }
  .section-header.hero-copy + .inner.icons .icon-google {
    left: unset;
    right: 7%;
  }
  .img-container.copy.page .phone-frame .inner {
    left: 50.5%;
    top: 1.514vw;
  }
  .img-container.copy.page .phone-frame {
    width: 60%;
  }
  .img-container.copy.page .phone-frame .inner .video {
    border-top-left-radius: 3.027vw;
    border-top-right-radius: 3.027vw;
  }
  .section-header.hero-copy + .inner.icons > .img-container.copy.page {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .img-container.copy.page .trader {
    display: block;
    left: 40%;
  }
}
@media screen and (max-width: 575.98px) {
  .hero.copy-trading {
    padding-top: 50px;
  }
  .section-header.hero-copy {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .section-header.hero-copy .section-header__title {
    font-size: 30px;
    line-height: 40px;
  }
  .section-header.hero-copy .section-header__title > span svg {
    width: 48px;
    height: 28px;
  }
  .section-header.hero-copy + .img-container.copy.page {
    flex-basis: 100%;
    border-radius: 24px;
  }
  .section-header.hero-copy + .img-container.copy.page {
    padding-top: 50px;
  }
  .img-container.copy.page .phone-frame,
  .img-container.copy-trading .phone-frame .inner,
  .section-header.hero-copy + .inner.icons .icon-tesla,
  .img-container.copy-trading .phone-frame .inner video {
    display: none;
  }
  .section-header.hero-copy + .inner.icons > .img-container.copy.page {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img-container.copy.page .trader {
    position: static;
    top: unset;
    left: unset;
    right: unset;
  }
  .img-container.copy.page {
    border-radius: 28px;
  }
  .section-header.hero-copy + .inner.icons .icon-google {
    top: 30px;
  }
  .section-header.hero-copy + .inner.icons .icon-nasdaq {
    bottom: 30px;
    right: 10px;
  }
  .section-header.hero-copy + .inner.icons .icon-amazon {
    bottom: -50px;
    height: 10%;
  }
  .list.header .list__item .img-container video {
    display: none;
  }
}
.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.copy-trading.awards {
  padding: 0;
}

.copy-trading.awards .top {
  position: relative;
  background: var(--white);
  z-index: 3;
}

.copy-trading.awards .bottom {
  overflow: hidden;
  position: relative;
  background: #EAF6FF;
  padding-top: 70px;
}

.copy-trading.awards .bottom > .splide.award-carousel {
  position: relative;
  z-index: 2;
}

.copy-trading.awards .bottom > .splide.award-carousel .splide__slide::before {
  content: unset;
}

.copy-trading.awards .bottom::before {
  display: block;
  content: "";
  width: 900px;
  height: 400px;
  background: url("../../../icons/icon-one-branch.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: contain, contain;
  z-index: 0;
}

.section-header.copy.award {
  display: block;
  margin-bottom: 0;
}

.section-header.copy.award .section-header__title {
  margin-bottom: 30px;
}

.inner.award-icon {
  display: flex;
  align-items: center;
}

.inner.award-icon .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 93px;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background: #EAF6FF;
  margin-right: 20px;
}

.inner.award-icon .img-container + .title {
  font-size: 35px;
  font-family: "Roboto-italic", sans-serif;
  line-height: normal;
  color: var(--dark-800);
  font-style: italic;
}

@media screen and (max-width: 1198.98px) {
  .inner.award-icon .img-container + .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 991.98px) {
  .inner.award-icon .img-container + .title {
    font-size: 20px;
  }
  .copy-trading.awards .bottom::before {
    width: 90.817vw;
    height: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .inner.award-icon .img-container {
    flex: 0 0 93px;
  }
  .section-header.copy.award .section-header__title span,
  .inner.award-icon .img-container + .title span {
    display: block;
  }
}
@media screen and (max-width: 575.98px) {
  .section-header.copy.award .section-header__title {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .copy-trading.awards .bottom::before {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .splide__list.awards .splide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 280px;
    min-height: 200px;
    padding: 50px 20px 20px 20px;
  }
  .splide__list.awards.copy-trading .splide__slide > .title {
    margin-bottom: 15px;
  }
}
.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.about {
  position: relative;
  background: var(--white);
  z-index: 3;
}

.section-header.about .section-header__text {
  margin-bottom: 30px;
}

.section-header.about .buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-container.about {
  position: relative;
  width: 100%;
}

.img-container.about .phone-left {
  animation: fly-smooth 6s ease-in-out -3s infinite;
}

.img-container.about .phone-right {
  position: absolute;
  top: 0;
  right: 0;
  animation: fly-smooth 6s ease-in-out 0s infinite;
}

@media screen and (max-width: 991.98px) {
  .img-container.about > .phone-left {
    display: none;
  }
  .img-container.about > .phone-right {
    position: static;
    top: unset;
    right: unset;
  }
}
@media screen and (max-width: 767.98px) {
  .img-container.about > .phone-left {
    display: block;
  }
  .img-container.about > .phone-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .section-header.about {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575.98px) {
  .img-container.about > .phone-right,
  .img-container.about > .phone-left {
    width: 50%;
    height: auto;
  }
  .section-header.about .buttons-container {
    flex-wrap: wrap;
  }
  .section-header.about {
    margin-top: 50px;
  }
}
.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header.top-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.section-header.top-choose .section-header__text {
  margin-bottom: 30px;
  max-width: 564px;
}

.section-header.top-choose .section-header__text + .btn-outline.blue {
  padding: 15px 30px;
}

.sticky-container,
.top-choose {
  background: var(--white);
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.list-features.horizontal-scroll {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  margin-left: 40%;
}

.list-features.horizontal-scroll .list-features__item:not(:last-child) {
  margin-right: 10px;
}

.list-features.horizontal-scroll .list-features__item {
  overflow: hidden;
  position: relative;
  display: inherit;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 552px;
  height: 359px;
  padding: 30px;
  border-radius: 37px;
  background: #F5F5F5;
}

.list-features.horizontal-scroll .list-features__header {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 200px;
  width: 100%;
  height: auto;
  border-radius: unset;
  margin-bottom: 20px;
}

.list-features.horizontal-scroll .list-features__item:hover .icon-hover {
  transform: translateY(10px) rotate(3.728deg);
}

.list-features.horizontal-scroll .list-features__item:hover .icon-bottom {
  transform: translateY(0) rotate(-3.588deg);
}

.list-features.horizontal-scroll .list-features__item.best-solution:hover .icon-hover {
  transform: translateY(-10px) rotate(-3.588deg);
}

.list-features.horizontal-scroll .list-features__item.statistics:hover .icon-hover {
  transform: translateY(-10px) rotate(-8.406deg);
}

.list-features.horizontal-scroll .list-features__item .icon-bottom,
.list-features.horizontal-scroll .list-features__header > .icon-hover,
.list-features.horizontal-scroll .list-features__item.best-solution .icon-hover {
  transition: transform 0.4s var(--ease-in-out) 0s;
  transform-origin: left;
}

.list-features.horizontal-scroll .list-features__item.best-solution .icon-hover {
  transform: translateY(0) rotate(0deg);
  filter: drop-shadow(29px 29px 30px rgba(26, 48, 158, 0.05));
}

.list-features.horizontal-scroll .list-features__item.statistics .icon-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(0) rotate(0deg);
  filter: drop-shadow(5px 30px 30px rgba(26, 48, 158, 0.1));
}

.list-features.horizontal-scroll .list-features__header > .icon-hover {
  position: absolute;
  top: 15px;
  left: 0;
  transform: translateY(0) rotate(-3.588deg);
  filter: drop-shadow(5px 30px 30px rgba(26, 48, 158, 0.1));
  z-index: 2;
}

.list-features.horizontal-scroll .list-features__body {
  flex: 1 0 auto;
  max-width: 250px;
}

.list-features.horizontal-scroll .list-features__title {
  color: var(--dark-800);
  font-family: "Roboto-bold", sans-serif;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
  font-weight: 700;
}

.list-features.horizontal-scroll .list-features__text {
  line-height: normal;
}

@media screen and (max-width: 1198px) {
  .list-features__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .list-features.horizontal-scroll {
    margin-left: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .list-features.horizontal-scroll .list-features__item {
    flex-basis: 450px;
    height: auto;
  }
}
@media screen and (max-width: 575.98px) {
  .sticky-container {
    margin: 0;
    border-radius: 0;
  }
  .list-features.horizontal-scroll {
    margin-top: 50px;
  }
  .list-features.horizontal-scroll .list-features__item {
    flex-basis: 280px;
    height: auto;
  }
  .section-header.top-choose {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 0;
  }
  .list-features.horizontal-scroll .list-features__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100px;
    height: 170px;
  }
  .list-features.horizontal-scroll .list-features__item .icon-hover {
    display: none;
  }
  .list-features.horizontal-scroll .list-features__item:hover .icon-hover {
    transform: unset;
  }
  .list-features.horizontal-scroll .list-features__title {
    font-size: 18px;
  }
  .section-header.top-choose .section-header__text + .btn-outline.blue {
    padding: 12px 20px;
  }
}
.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.start-step.margin-inline {
  margin: 20px;
}

.start-step .top,
.start-step .bottom {
  background: var(--white);
}

.start-step .top {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.start-step .bottom {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.section-header.start-step {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.section-header.start-step .section-header__title {
  margin-right: 30px;
  margin-bottom: 0;
  flex: 1 0 auto;
}

.start-step .bottom,
.list.header .list__item .img-container {
  background: linear-gradient(103deg, #E3F3FF 4.33%, #42A5F5 177.15%);
}

.list.header .list__item .img-container {
  background: url("../../../img/copy-trade/trading-tools-pips.png"), linear-gradient(103deg, #E3F3FF 4.33%, #42A5F5 177.15%);
  background-repeat: repeat-x;
  background-position: center;
  background-size: 680px;
}

.list.header .list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.list.header .list__item::before {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: follow-step;
  content: "0" counter(follow-step) ".";
  width: 88px;
  height: 88px;
  font-family: "Roboto italic", sans-serif;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #D9D9D9;
}

.list.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  counter-reset: follow-step;
}

.list.header .list__item .inner {
  width: 50%;
  max-width: 350px;
  margin-left: 11%;
}

.list.header .list__item .img-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 37px;
  padding: 50px;
}

.list.header .list__item .img-container > img {
  display: none;
}

.list.header .list__item .img-container video {
  border-radius: 37px;
}

.list.header .list__item .inner .title {
  display: flex;
  align-items: center;
  font-family: "Roboto bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  color: var(--dark-800);
}

.list.header .list__item .inner .title > svg {
  margin-right: 10px;
}

.list.header .list__item .inner .title,
.list.header .list__item .inner .text {
  margin-bottom: 20px;
}

.list.header .list__item .inner .text {
  line-height: normal;
}

.list.header .list__item {
  position: sticky;
  top: 50px;
  background: var(--white);
  border-radius: 47px;
  padding: 10px;
}

@media screen and (max-width: 1198px) {
  .list.header .list__item .inner .title {
    font-size: 24px;
  }
  .list.header .list__item .img-container {
    padding: 30px;
  }
  .list.header .list__item .img-container video {
    width: 70%;
    height: auto;
  }
}
@media screen and (max-width: 991.98px) {
  .list.header .list__item .img-container video {
    width: 100%;
    border-radius: 20px;
  }
  .list.header .list__item::before {
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .list.header .list__item {
    gap: 30px;
  }
  .section-header.start-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .list.header .list__item .inner .title {
    font-size: 20px;
  }
  .list.header .list__item .inner .text {
    font-size: 14px;
  }
  .section-header.start-step .section-header__title {
    margin-right: 0;
    margin-bottom: 15px;
    flex: unset;
  }
  .list.header .list__item .inner {
    margin-left: 0;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .list.header .list__item::before {
    top: 30px;
    left: 30px;
    width: 34px;
    height: 34px;
    font-size: 14px;
  }
}
@media screen and (max-width: 575.98px) {
  .list.header .list__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list.header .list__item .inner,
  .list.header .list__item .img-container {
    width: 100%;
  }
  .list.header .list__item .inner {
    padding: 0;
  }
  .start-step.margin-inline {
    margin: 0;
  }
  .start-step .top {
    border-radius: 0;
  }
  .list.header .list__item,
  .list.header .list__item .img-container {
    border-radius: 20px;
  }
  .list.header .list__item {
    gap: 20px;
    padding: 60px 10px 10px 10px;
  }
  .list.header .list__item::before {
    top: 10px;
    left: 10px;
  }
  .list.header .list__item .inner {
    max-width: 220px;
  }
  .list.header .list__item .inner .title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .list.header .list__item .inner .text {
    font-size: 13px;
  }
  .list.header .list__item .inner .text + .btn-outline {
    font-size: 13px;
    padding: 10px 30px;
  }
  .start-step .bottom {
    border-radius: 0;
  }
  .start-step .top {
    padding-top: 0px;
  }
  .list.header .list__item .img-container > img {
    display: block;
  }
}
.list.nav-menu .list__item .link {
  text-decoration: none;
}
.list.nav-menu .list__item .link:focus, .list.nav-menu .list__item .link:active, .list.nav-menu .list__item .link:hover {
  text-decoration: none;
}

.copy-trading.awards .bottom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-white {
  fill: var(--white);
}

.fill-green {
  fill: var(--green-500);
}

.fill-blue {
  fill: var(--blue-500);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-green {
  stroke: var(--green-500);
}

.stroke-blue {
  stroke: var(--blue-500);
}

.stroke-dark {
  stroke: var(--dark-800);
}

.fill-yellow {
  fill: #FFC452;
}

.fill-black {
  fill: var(--dark-800);
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.trading-tools {
  padding-top: 70px;
  background: var(--white);
}

.section-header.trading-tools {
  display: flex;
  align-items: flex-end;
  padding-top: unset;
}

.section-header.trading-tools .section-header__title {
  flex: 1 0 auto;
  margin-right: 30px;
  margin-bottom: 0;
}

.trading-tools .inner {
  overflow: hidden;
  border-radius: 50px;
  background: #F5F5F5;
  padding: 16px;
}

.list-features.trading-tools {
  background: transparent;
  padding-top: 0;
}

.list-features.trading-tools .list-features__item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: calc(33.3333333333% - 5px);
  border-radius: 37px;
}

.list-features.trading-tools .list-features__header {
  width: 100%;
  height: 300px;
  background: url("../../../img/copy-trade/trading-tools-pips.png"), linear-gradient(103deg, #E3F3FF 4.33%, #42A5F5 177.15%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: unset;
}

.list-features.trading-tools .list-features__body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
  background: var(--white);
}

.list-features.trading-tools .list-features__item .list-features__title {
  font-family: "Roboto bold", sans-serif;
  color: var(--dark-800);
  font-size: 30px;
  font-weight: 700;
}

.list-features.trading-tools .list-features__item .list-features__text {
  flex-grow: 1;
  text-transform: capitalize;
}

.list-features.trading-tools .list-features__title,
.list-features.trading-tools .list-features__text {
  margin-bottom: 15px;
}

.list-features.trading-tools .list-features__item.icon::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.list-features.trading-tools .list-features__item.tools::before {
  background: url("../../../icons/icon-tools.svg"), rgba(255, 255, 255, 0.7);
  background-size: 28px 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.list-features.trading-tools .list-features__item.market::before {
  background: url("../../../icons/icon-level-up.svg"), rgba(255, 255, 255, 0.7);
  background-size: 28px 27px;
  background-repeat: no-repeat;
  background-position: center;
}

.list-features.trading-tools .list-features__item.chess::before {
  background: url("../../../icons/icon-chess.svg"), rgba(255, 255, 255, 0.7);
  background-size: 28px 27px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1198px) {
  .list-features.trading-tools .list-features__header {
    height: 200px;
  }
  .list-features.trading-tools .list-features__item .list-features__title {
    font-size: 20px;
  }
  .list-features.trading-tools .list-features__item {
    border-radius: 37px;
  }
  .list-features.trading-tools {
    justify-content: flex-start;
  }
  .list-features.trading-tools .list-features__item {
    flex-basis: calc(50% - 10px);
  }
  .list-features.trading-tools .list-features__item:first-child {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .list-features.trading-tools .list-features__header {
    height: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .section-header.trading-tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-header.trading-tools .section-header__title {
    margin-bottom: 15px;
  }
  .list-features.trading-tools .list-features__item .list-features__title {
    font-size: 24px;
  }
  .list-features.trading-tools .list-features__item {
    flex-basis: 100%;
  }
  .list-features.trading-tools .list-features__item:first-child {
    margin-right: 0;
  }
  .list-features.trading-tools .list-features__item {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .section-header.trading-tools .section-header__title {
    flex-basis: 100%;
    margin-right: 0;
  }
  .trading-tools .inner {
    padding: 7px;
    border-radius: 23px;
  }
  .trading-tools {
    padding-top: 0;
  }
  .list-features.trading-tools .list-features__item {
    border-radius: 18px;
  }
  .list-features.trading-tools .list-features__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 170px;
    height: 170px;
    padding: 10px;
  }
  .list-features.trading-tools .list-features__header img {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .list-features.trading-tools .list-features__body {
    padding: 20px;
  }
  .list-features.trading-tools .list-features__item .list-features__title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .list-features.trading-tools .list-features__item .list-features__text + .btn-outline {
    padding: 8px 24px;
  }
  .list-features.trading-tools .list-features__item.icon::before {
    width: 25px;
    height: 25px;
    background-size: 13px 13px;
  }
}/*# sourceMappingURL=style.css.map */